<section>

  <div id="snackbar"></div>
  <!-- <h1 class="page-title">{{ 'ICO Information' | translate}}</h1> -->
  <div class="background">


    <div class="head-section">
      <div class="page-title d-flex content-flex">
        <span class="img-borders"> <img src="../../../assets/img/PIPTLE-ILO-ICON.png" class="sidebar-img" alt="">
        </span>
         <h1 class="page-title text-left">
          {{ 'ICO Tracker' | translate}}
         </h1>
      </div>
      <div class="clearfix ico-top-divs row">
        <div class="col-sm-6 col-md-4 col-lg-3 no-right">
          <div class="inner-box ">
  
  
            <div class="top-left-ico-text">
              <p class="ico-top-text">{{ 'OVERALL TOKEN SALE PROGRESS' | translate}}
                <!-- <span class="white-right">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                    <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAQAAAD5jQ/ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBwQRJhUZ/fXmAAAAW0lEQVQoz2P8/5YBBgQYGBmIBd8YfhJQwcTAyFDA8J92oPA/AwvR7iUNfGWIYtjEQCPj3zGEM+xhYKCN8Q8ZQhlOQ5gsDO/gwoSi9i/DF4Z/BA2/yxDJcBfGAQDslWyKBW4N8QAAAABJRU5ErkJggg==" />
                  </svg>
                </span> -->
              </p>
            </div>
  
  
            <div class="clearfix table-type">
  
  
              <div class="left-stat-icon">
  
                <img src="../../../assets/img/left-cash-icon.png">
  
  
              </div>
  
              <div class="right-icon-stats">
  
  
                <p class="number">{{ICOInformation?.Sale}}
                  <span class="dollar">AUD$</span>
                </p>
                <p class="total-text">{{ 'ISSUED VALUE ' | translate}}</p>
  
  
              </div>
  
  
            </div>
  
  
  
  
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 no-right">
          <div class="inner-box ">
  
  
  
            <div class="top-left-ico-text">
              <p class="ico-top-text">{{ 'TOKENSALE PROGRESS' | translate}}
                <!-- <span class="white-right">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                    <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAQAAAD5jQ/ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBwQRJhUZ/fXmAAAAW0lEQVQoz2P8/5YBBgQYGBmIBd8YfhJQwcTAyFDA8J92oPA/AwvR7iUNfGWIYtjEQCPj3zGEM+xhYKCN8Q8ZQhlOQ5gsDO/gwoSi9i/DF4Z/BA2/yxDJcBfGAQDslWyKBW4N8QAAAABJRU5ErkJggg==" />
                  </svg>
                </span> -->
              </p>
            </div>
  
            <div class="clearfix table-type">
  
  
              <div class="left-stat-icon">
  
                <img src="../../../assets/img/globe.png" width="100">
  
  
              </div>
  
              <div class="right-icon-stats">
  
  
                <p class="number">{{ICOInformation?.userCount}}
  
                </p>
                <p class="total-text">{{ 'Registered Piptlers' | translate}}
                </p>
  
  
              </div>
  
  
            </div>
  
  
  
  
  
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 no-right">
          <div class="inner-box">
            <div class="top-left-ico-text">
              <p class="ico-top-text">{{ 'Countries' | translate}}
                <!-- <span class="white-right">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                    <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAQAAAD5jQ/ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBwQRJhUZ/fXmAAAAW0lEQVQoz2P8/5YBBgQYGBmIBd8YfhJQwcTAyFDA8J92oPA/AwvR7iUNfGWIYtjEQCPj3zGEM+xhYKCN8Q8ZQhlOQ5gsDO/gwoSi9i/DF4Z/BA2/yxDJcBfGAQDslWyKBW4N8QAAAABJRU5ErkJggg==" />
                  </svg>
                </span> -->
              </p>
            </div>
  
            <div class="clearfix table-type">
  
  
              <div class="left-stat-icon">
  
                <img src="../../../assets/img/globe.png" width="100">
  
  
              </div>
  
              <div class="right-icon-stats">
  
  
                <p class="number">{{ICOInformation?.userCount}}
  
                </p>
                <p class="total-text">{{ 'Countries' | translate}}
                </p>
  
  
              </div>
  
  
            </div>
  
  
  
  
  
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="inner-box ">
  
            <div class="top-left-ico-text">
              <p class="ico-top-text">{{ 'CAPS' | translate}}
                <!-- <span class="white-right">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                    <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAQAAAD5jQ/ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBwQRJhUZ/fXmAAAAW0lEQVQoz2P8/5YBBgQYGBmIBd8YfhJQwcTAyFDA8J92oPA/AwvR7iUNfGWIYtjEQCPj3zGEM+xhYKCN8Q8ZQhlOQ5gsDO/gwoSi9i/DF4Z/BA2/yxDJcBfGAQDslWyKBW4N8QAAAABJRU5ErkJggg==" />
                  </svg>
                </span> -->
              </p>
            </div>
  
            <div class="clearfix table-type soft-hard-box">
  
  
  
  
  
              <div class="row bg-row">
  
  
  
                <div class="col some-padding text-centered">
                  <div>
                    <!-- <div>
                      <img src="../../../assets/img/softcap-icon.png" class="softcap-img" alt="softcap-icon">
                    </div> -->
  
                    <div>
  
                      <p class="number"> {{ICOInformation?.softCap}}
                        <span class="dollar">PPTL</span>
                      </p>
                      <p class="total-text"> {{ 'Softcap' | translate}}
  
                      </p>
  
                    </div>
                  </div>
  
                </div>
  
  
                <div class="col  text-centered">
  
                  <!-- <div >
                    <img src="../../../assets/img/hardcap-icon.png" class="hardcap-img" alt="softcap-icon">
                  </div> -->
                  <div>
                    <p class="number">{{ICOInformation?.hardCap}}
                      <span class="dollar">PPTL</span>
                    </p>
                    <p class="total-text">{{ 'Hardcap' | translate}}
  
                    </p>
                  </div>
  
                </div>
  
              </div>
  
  
  
            </div>
  
  
  
  
          </div>
        </div>
  
  
  
      </div>
    </div>




    <div class="ico-content-div">
      <div class="row row-eq-height" *ngIf="!noPendingStages" [ngClass]="{'justify-content-center': hideSecondBox==true}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no-right" [ngClass]="{'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 right-15': hideSecondBox==true}">
          <div class="genral-sett-div">
            <div class="genral-sett-div-head clearfix width100">
              <div class="leftside clearfix width25" style="width:100%">
                <p class="gnrl-sett-txt" >
                  {{ 'CURRENT STAGE' | translate}}
                  <span class="sale-stopped" *ngIf="isSaleStopped">{{'Currently Sale Is Stopped' | translate}}</span>
                </p>
              </div>

            </div>


            <div class="clearfix time-block">

              <div class="time-icon clearfix">
                <img src="../../../assets/img/time-icon.png" alt="time-icon">
              </div>
              <div class="ico-small-head-upper clearfix">
                <p class="till-pIco-Stge-txt text-uppercase">
                  {{ICOStageInfoLeft?.stageName | translate}}
                </p>

              </div>

            </div>

            <p class="till-pIco-Stge-small"> {{ 'STARTING PRICE:' | translate}}
                <strong>{{ICOStageInfoLeft?.stageRate | currency: 'stageRate'}}</strong>
            </p>
            <p class="till-pIco-Stge-small"> {{ 'REMAINING TOKENS:' | translate}}
              <strong>{{ICOStageInfoLeft?.totalSaleAmount - ICOStageInfoLeft?.amountSold | currency}}</strong>
          </p>
            
            <p class="till-pIco-Stge-small" *ngIf="!hideSecondBox">{{'Till' | translate}} {{ICOStageInfoRight?.stageName}}</p>
            <p class="till-pIco-Stge-small" *ngIf="hideSecondBox">{{'ICO will end after the current stage' | translate}}</p>

            <div class="progress-div fancy-progress">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                  [style.width.%]="leftProgressBar">
                  <span class="sr-only">{{leftProgressBar}}% {{'Complete' | translate}}</span>
                </div>
              </div>
            </div>
            <div>
              <p class="till-pIco-Stge-txt2">
                {{leftProgressBar}}% {{ 'Complete' | translate}}
              </p>
            </div>


            <div class="clock-wrap">
              <ul class="clock-names-ul">
                <li>
                  <p class="days-t">{{ 'DAYS' | translate}}</p>
                </li>
                <li>
                  <p class="days-t">{{ 'HOURS' | translate}}</p>

                </li>
                <li>
                  <p class="days-t">{{ 'MINUTES' | translate}}</p>

                </li>
                <li class="no-rit">
                  <p class="days-t">{{ 'SECONDS' | translate}}</p>

                </li>
              </ul>

              <ul class="clock-ul">
                <li>

                  <p id="days">0</p>
                </li>
                <li>

                  <p id="hrs">9</p>

                </li>
                <li>

                  <p id="mins">45</p>

                </li>
                <li class="no-rit">

                  <p id="sec">39</p>

                </li>
              </ul>
            </div>




          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" [hidden]="hideSecondBox">
          <div class="genral-sett-div">
            <div class="genral-sett-div-head clearfix width100">
              <div class="leftside clearfix width25">
                <p class="gnrl-sett-txt">
                  {{ 'UPCOMING ILO STAGE' | translate}}
                </p>
              </div>
            </div>

            <div class="clearfix time-block-down">
              <div class="ico-small-head" style="padding-top: 5px;">
                <h1 class="till-pIco-Stge-txt text-uppercase"> {{ICOStageInfoRight?.stageName | translate}}</h1>
                <p class="till-pIco-Stge-small">{{ 'STARTING PRICE:' | translate}}
                  <strong>{{ICOStageInfoRight?.stageRate}}</strong>
                </p>
              </div>

            </div>





            <div class="bottom-columns">

              <ul class="progress-bottom clearfix">
                <li>
                  <p class="top-heading text-uppercase">{{ 'STARTING DATE' | translate }}</p>
                  <p class="top-heading text-uppercase">
                    <strong>{{ICOStageInfoRight?.startDate}}</strong>
                  </p>
                </li>
                <li>
                  <p class="center-heading text-uppercase">{{ 'TOKEN AMOUNT' | translate}}</p>
                  <p class="big-amount text-uppercase">
                    <strong>{{ICOStageInfoRight?.totalSaleAmount}}</strong>
                  </p>
                </li>
                <li>
                  <p class="top-heading text-uppercase">{{ 'END DATE' | translate}}</p>
                  <p class="top-heading text-uppercase">
                    <strong>{{ICOStageInfoRight?.endDate}}</strong>
                  </p>
                </li>
              </ul>


            </div>








          </div>
        </div>
      </div>

      <div *ngIf="noPendingStages">

        <div class="no-data-box">
          <div class="no-data">
            <p>{{'Token Sale has Ended' | translate}}</p>
          </div>
        </div>

      </div>

      <div class="row stages-row">

        <ul class="stages-progress-horizontal clearfix">


          <li class="responsive-stages" *ngFor="let stage of allICOStages;let i=index" [style.width.%]="stageWidth">
            <p class='stage-name'>{{stage?.StageName | translate}}</p>
            <div class="inner-progresses" [ngClass]='stage.current'>
              <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                [style.width.%]="stage.soldPercentage">
                <p class='status'>{{stage.current | translate}}</p>
              </div>
            </div>
            
            <p class='stage-disc'> {{ 'Discount' | translate }} {{ stage?.discount }}</p>
          </li>

        </ul>

        <!-- <ul class="just-ico">
          <li>
            <p class='stage-name'>After ICO</p>
            <div class="inner-progresses">
              <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                style="width:0%">

              </div>

            </div>
          </li>
        </ul> -->

      </div>

      <!-- <div class="row stages-row-bottom">

                <ul class="earn-left-ul">
                    <li>
                        <div class="inner-progresses">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <p class='text'>+ free
                                    <span class='earn-text'>Earn</span> Coins</p>
                            </div>

                        </div>
                    </li>
                </ul>

                <ul class="earn-tokens-ul">
                    <li>
                        <div class="inner-progresses">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                <p class='text'>+ free
                                    <span class='earn-text'>Earn</span> Coins</p>
                            </div>

                        </div>
                    </li>
                </ul>

            </div> -->


      <div class="row">
        <div class="col-12">
          <div class="table-div">
            <div class="genral-sett-div-head clearfix width100 p-3">
              <div class="leftside">
                <p class="gnrl-sett-txt p-0 mb-0 text-left piptle-font">
                  {{ 'ILO PIPTLERS' | translate}}
                </p>
              </div>
              <!-- <div class="d-flex justify-content-end">
                <button class="btn participation-btn">
                  {{ 'View Participation Ranks' | translate}}
                </button>
              </div> -->

            </div>
            <div>
              <div class="topp pt-0">
                <div class="table-responsive no-wrap-640">
                  <table class="table my-tbl table-striped">
                    <thead>
                      <tr>
                        <th>
                          <div class="pos-rltv gap-blw">
                            <p class="tbl-head-txt">{{'UsernameIco' | translate}}</p>
                          </div>
                        </th>
                        <th>
                          <div class="pos-rltv gap-blw">
                            <p class="tbl-head-txt">{{'Country' | translate}}</p>
                          </div>
                        </th>
                        <th>

                          <p class="tbl-head-txt">{{ 'PIPTLES ISSUED' | translate }}</p>
                        </th>

                        <th class="">
                          <p class="tbl-head-txt">{{ 'ILO STAGE' | translate }}</p></th>
                        <th class="">
                          <p class="tbl-head-txt centerAlgn">{{ 'PARTICIPATION RANK' | translate }}</p></th>

                        <th>

                          <p class="tbl-head-txt centerAlgn">{{ 'VALUE' | translate }}</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="">

                      <tr class="trname" *ngFor="let investors of investorsList; let i = index">
                        <td class="td-name">contributor {{i+1}}</td>
                        <td class="td-name">Australia </td>
                        <td class="td-token pl-3">

                          <div class="clearfix">
                            <ul class="token-progress">
                              <li>
                                <span class="font-13">{{investors.EARNTokenBalance | currency:'crypto'}}</span>
                                <strong class="bold-text">PPTL </strong>
                              </li>

                            </ul>


                          </div>



                        </td>
                        <td class="td-name">Founders  </td>
                        <td class="td-name centerAlgn">GPA </td>
                        <!-- <td>
                          <div class="progress-table-wrap">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100" [style.width.%]="investors.percentageSold">

                              </div>
                            </div>
                          </div>
                        </td> -->
                        <td class="centerAlgn td-total">$ <span class="font-13">{{investors.AmountInvestedInMXN | currency:'fait'}}</span> </td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>