<section>
  <div id="snackbar"></div>
  <!-- <h1 class="page-title">{{ 'ICO Information' | translate}}</h1> -->
  <div class="background">
    <div class="head-section">
      <div class="page-title d-flex content-flex">
        <h1 class="page-title">
          {{ 'Round Tracker' | translate }}
        </h1>
      </div>
      <div class="clearfix ico-top-divs row">
        <div class="col-sm-6 col-md-4 col-lg-3 no-right">
          <div class="inner-box d-flex justify-content-between flex-column">
            <div class="top-left-ico-text">
              <p class="ico-top-text">
                Current $EMYA Value
                <!-- <span class="white-right">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                    <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAQAAAD5jQ/ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBwQRJhUZ/fXmAAAAW0lEQVQoz2P8/5YBBgQYGBmIBd8YfhJQwcTAyFDA8J92oPA/AwvR7iUNfGWIYtjEQCPj3zGEM+xhYKCN8Q8ZQhlOQ5gsDO/gwoSi9i/DF4Z/BA2/yxDJcBfGAQDslWyKBW4N8QAAAABJRU5ErkJggg==" />
                  </svg>
                </span> -->
              </p>
            </div>
            <div class="d-flex flex-column">
              <p class="number">{{ currentStagePPTL }} $EMYA</p>
              <p class="sub-text">Issue Value</p>
            </div>
          </div>
        </div>
        <!-- TODO: Commenting as per demand of Project Manager <div class="col-sm-6 col-md-4 col-lg-3 no-right">
          <div class="inner-box d-flex justify-content-between flex-column">
            <div class="top-left-ico-text">
              <p class="ico-top-text">
                New participation licensees
              </p>
            </div>
            <div class="d-flex flex-column">
              <p class="sub-text">
                {{ globalInfo?.total_gpa_licences }} GPA Licensees
              </p>
              <p class="sub-text">
                {{ globalInfo?.other_licences }}Other Licensees
              </p>
            </div>
          </div>
        </div> -->
        <div class="col-sm-12 col-md-4 col-lg-3 no-right">
          <div class="inner-box d-flex justify-content-between flex-column">
            <div class="top-left-ico-text">
              <p class="ico-top-text">
                Total resitrant countries
                <!-- <span class="white-right">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                    <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAQAAAD5jQ/ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBwQRJhUZ/fXmAAAAW0lEQVQoz2P8/5YBBgQYGBmIBd8YfhJQwcTAyFDA8J92oPA/AwvR7iUNfGWIYtjEQCPj3zGEM+xhYKCN8Q8ZQhlOQ5gsDO/gwoSi9i/DF4Z/BA2/yxDJcBfGAQDslWyKBW4N8QAAAABJRU5ErkJggg==" />
                  </svg>
                </span> -->
              </p>
              <p class="ico-top-text mt-2">
                {{ globalInfo?.total_countries }} Countries
              </p>
            </div>
            <div class="d-flex flex-column">
              <button
                class="btn btn-country"
                data-toggle="modal"
                data-target="#view-instructions"
              >
                view Countries
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="inner-box d-flex justify-content-between flex-column">
            <div class="top-left-ico-text">
              <p class="ico-top-text">
                Previous ICO stage
                <!-- <span class="white-right">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                    <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAQAAAD5jQ/ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBwQRJhUZ/fXmAAAAW0lEQVQoz2P8/5YBBgQYGBmIBd8YfhJQwcTAyFDA8J92oPA/AwvR7iUNfGWIYtjEQCPj3zGEM+xhYKCN8Q8ZQhlOQ5gsDO/gwoSi9i/DF4Z/BA2/yxDJcBfGAQDslWyKBW4N8QAAAABJRU5ErkJggg==" />
                  </svg>
                </span> -->
              </p>
              <p class="ico-top-text mt-2">Founder</p>
              <p class="ico-top-text">Total $EMYA Issued</p>
            </div>
            <div class="d-flex flex-column">
              <p class="number">{{ founderPPTL }} $EMYA</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ico-content-div">
      <div class="row row-eq-height">
        <div class="col-lg-6 col-sm-12">
          <div class="d-flex flex-column stage-div">
            <p class="gnrl-sett-txt">
              {{ 'CURRENT STAGE' | translate }}
              <!-- <span class="sale-stopped" *ngIf="isSaleStopped">{{ -->
              <!-- "Currently Sale Is Stopped" | translate
              }}</span> -->
            </p>
            <div
              class="d-flex justify-content-center align-items-center flex-column"
            >
              <div class="d-flex my-3 flex-row">
                <p class="till-pIco-Stge-small mr-1">
                  $EMYA Starting Value:
                  <strong>{{ ICOStageInfoLeft?.stageRate }} (USD)</strong>
                </p>
                <p class="till-pIco-Stge-small mr-1" *ngIf="!hideSecondBox">
                  {{ 'Till' | translate }} {{ ICOStageInfoRight?.stageName }}
                </p>
                <p class="till-pIco-Stge-small">
                  Target:
                  <strong>{{ stageLeftData?.target }} GPALs Registered</strong>
                </p>
              </div>
              <button
                class="bonus-btn"
                (click)="invokeInfoModal(ICOStageInfoLeft?.stageName)"
              >
                View your benefits and bonuses
              </button>
              <div class="progress-bar"></div>
              <p class="till-pIco-Stge-sub-txt p-0">%complete</p>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
              <div class="d-flex flex-column">
                <p class="till-pIco-Stge-txt">
                  <!-- {{ ICOStageInfoLeft?.stageName }} -->
                  Starting Point:
                </p>
                <p class="till-pIco-Stge-sub-txt pt-1">
                  {{ stageRightData?.startingPoint }} GPALs
                </p>
              </div>
              <div class="d-flex flex-column">
                <p class="till-pIco-Stge-txt">
                  Total Allocated
                  <!-- {{ ICOStageInfoLeft?.stageName }} -->
                  Tokens:
                </p>
                <p class="till-pIco-Stge-sub-txt pt-1">
                  Up to {{ ICOStageInfoLeft?.amountSold | currency: 'fait' }}
                </p>
              </div>
              <div class="d-flex flex-column">
                <p class="till-pIco-Stge-txt">
                  $EMYA starting Value: {{ ICOStageInfoLeft?.stageRate }} (USD)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="d-flex flex-column stage-div">
            <p class="gnrl-sett-txt">
              {{ 'Upcoming Round Stage' | translate }}
              <!-- <span class="sale-stopped" *ngIf="isSaleStopped">{{ -->
              <!-- "Currently Sale Is Stopped" | translate
              }}</span> -->
            </p>
            <div
              class="d-flex justify-content-center align-items-center flex-column"
            >
              <div class="d-flex my-3 flex-row">
                <p class="till-pIco-Stge-small mr-1">
                  $EMYA Starting Value:
                  <strong>{{ ICOStageInfoLeft?.stageRate }} (USD)</strong>
                </p>
                <p class="till-pIco-Stge-small mr-1" *ngIf="!hideSecondBox">
                  {{ 'Till' | translate }} {{ ICOStageInfoRight?.stageName }}
                </p>
                <p class="till-pIco-Stge-small">
                  Target:
                  <strong>{{ stageLeftData?.target }} GPALs Registered</strong>
                </p>
              </div>
              <button
                class="bonus-btn"
                (click)="invokeInfoModal(ICOStageInfoLeft?.stageName)"
              >
                View your benefits and bonuses
              </button>
            </div>
            <div
              class="d-flex flex-row justify-content-around mt-2 h-100 pb-3 align-items-end"
            >
              <div class="d-flex flex-column">
                <p class="till-pIco-Stge-txt">
                  <!-- {{ ICOStageInfoLeft?.stageName }} -->
                  Starting Point:
                </p>
                <p class="till-pIco-Stge-sub-txt pt-1">
                  {{ stageRightData?.startingPoint }} GPALs
                </p>
              </div>
              <div class="d-flex flex-column">
                <p class="till-pIco-Stge-txt">
                  Total Allocated
                  <!-- {{ ICOStageInfoLeft?.stageName }} -->
                  Tokens:
                </p>
                <p class="till-pIco-Stge-sub-txt pt-1">
                  Up to {{ ICOStageInfoLeft?.amountSold | currency: 'fait' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row stages-row-bottom">

                <ul class="earn-left-ul">
                    <li>
                        <div class="inner-progresses">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <p class='text'>+ free
                                    <span class='earn-text'>Earn</span> Coins</p>
                            </div>

                        </div>
                    </li>
                </ul>

                <ul class="earn-tokens-ul">
                    <li>
                        <div class="inner-progresses">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                <p class='text'>+ free
                                    <span class='earn-text'>Earn</span> Coins</p>
                            </div>

                        </div>
                    </li>
                </ul>

            </div> -->

      <div class="row">
        <div class="col-12">
          <div class="table-div">
            <div class="genral-sett-div-head clearfix width100 p-3">
              <div class="leftside">
                <p class="gnrl-sett-txt p-0 mb-0 text-left eMaaya-font">
                  {{ 'ICO eMaayaRS' | translate }}
                </p>
              </div>
              <!-- <div class="d-flex justify-content-end">
                <button class="btn participation-btn">
                  {{ 'View Participation Ranks' | translate}}
                </button>
              </div> -->
            </div>
            <div class="p-3">
              <div class="topp pt-0">
                <div class="table-responsive no-wrap-640">
                  <table class="table my-tbl table-striped">
                    <thead>
                      <tr>
                        <th>
                          <div class="pos-rltv gap-blw">
                            <p class="tbl-head-txt">Date Issued</p>
                          </div>
                        </th>
                        <th>
                          <div class="pos-rltv gap-blw">
                            <p class="tbl-head-txt">Username</p>
                          </div>
                        </th>
                        <th>
                          <div class="pos-rltv gap-blw">
                            <p class="tbl-head-txt">Country</p>
                          </div>
                        </th>
                        <th>
                          <p class="tbl-head-txt">eMaayas Issued</p>
                        </th>

                        <th class>
                          <p class="tbl-head-txt">Stage Type</p>
                        </th>
                        <!-- <th class="">
                          <p class="tbl-head-txt centerAlgn">{{ 'PARTICIPATION RANK' | translate }}</p>
                        </th> -->

                        <th>
                          <p class="tbl-head-txt">Coin Value (USD)</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody class *ngIf="!pptlLoader && paginationNumber != 0">
                      <tr class="trname" *ngFor="let data of pptlDetails">
                        <td class="td-name">
                          {{ data.date | date: 'dd/MM/yyyy' }}
                        </td>

                        <td class="td-name">{{ data.userName }}</td>
                        <td class="td-name">{{ data.country }}</td>
                        <td class="td-token pl-3">
                          <div class="clearfix">
                            <ul class="token-progress">
                              <li>
                                <span class="font-13">{{
                                  data.eMaayas | currency: 'crypto'
                                }}</span>
                                <!-- <strong class="bold-text">eMy </strong> -->
                              </li>
                            </ul>
                          </div>
                        </td>
                        <td class="td-name">{{ data.iloStage }}</td>
                        <!-- <td class="td-name centerAlgn">GPA </td> -->
                        <!-- <td>
                          <div class="progress-table-wrap">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100" [style.width.%]="investors.percentageSold">

                              </div>
                            </div>
                          </div>
                        </td> -->
                        <td class="td-total last-td">
                          $
                          <span class="font-13">{{
                            data.value | currency: 'fait'
                          }}</span>
                        </td>
                      </tr>
                    </tbody>

                    <tbody *ngIf="pptlLoader">
                      <tr>
                        <td colspan="12">
                          <div class="custom-loader">
                            <svg
                              class="lds-comets"
                              width="100%"
                              height="100%"
                              xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              viewBox="0 0 100 100"
                              preserveAspectRatio="xMidYMid"
                            >
                              <g transform="rotate(208.756 50 50)">
                                <animatetransform
                                  attributeName="transform"
                                  type="rotate"
                                  repeatCount="indefinite"
                                  values="360 50 50;0 50 50"
                                  keyTimes="0;1"
                                  dur="2.3s"
                                  keySplines="0.5 0.5 0.5 0.5"
                                  calcMode="spline"
                                ></animatetransform>
                                <path
                                  fill="#85ffbd"
                                  d="M91,74.1C75.6,98,40.7,102.4,21.2,81c11,9.9,26.8,13.5,40.8,8.7c7.4-2.5,13.9-7.2,18.7-13.3 c1.8-2.3,3.5-7.6,6.7-8C90.5,67.9,92.7,71.5,91,74.1z"
                                ></path>
                                <path
                                  fill="#316598"
                                  d="M50.7,5c-4,0.2-4.9,5.9-1.1,7.3c1.8,0.6,4.1,0.1,5.9,0.3c2.1,0.1,4.3,0.5,6.4,0.9c5.8,1.4,11.3,4,16,7.8 C89.8,31.1,95.2,47,92,62c4.2-13.1,1.6-27.5-6.4-38.7c-3.4-4.7-7.8-8.7-12.7-11.7C66.6,7.8,58.2,4.6,50.7,5z"
                                ></path>
                                <path
                                  fill="#a4bcc2"
                                  d="M30.9,13.4C12,22.7,2.1,44.2,7.6,64.8c0.8,3.2,3.8,14.9,9.3,10.5c2.4-2,1.1-4.4-0.2-6.6 c-1.7-3-3.1-6.2-4-9.5C10.6,51,11.1,41.9,14.4,34c4.7-11.5,14.1-19.7,25.8-23.8C37,11,33.9,11.9,30.9,13.4z"
                                ></path>
                              </g>
                            </svg>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div
                    *ngIf="!pptlLoader && paginationNumber == 0"
                    class="text-center no-data-found"
                  >
                    No Data Found
                  </div>
                  <div
                    class="pagination-bottom pt-2"
                    *ngIf="!pptlLoader && paginationNumber != 0"
                  >
                    <pagination-controls
                      *ngIf="referralPSize < paginationNumber"
                      responsive="true"
                      previousLabel
                      nextLabel
                      (pageChange)="changePageForDetails($event)"
                    ></pagination-controls>

                    <ul class="no-visibility-2 d-none">
                      <li
                        *ngFor="
                          let item of eMyDetails
                            | paginate
                              : {
                                  itemsPerPage: referralPSize,
                                  currentPage: topReferalCurrentPage,
                                  totalItems: paginationNumber
                                }
                        "
                      >
                        {{ item }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- countries modal -->
<div
  class="modal"
  id="view-instructions"
  data-keyboard="false"
  data-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="d-flex justify-content-between align-items-center instruction-close"
      >
        <p class="instruction-txt">Countries</p>
        <img
          src="../../../assets/img/close.png"
          alt="close-image"
          (click)="closeModal()"
        />
      </div>
      <!-- <div class="close-modal instruction-close" class="close" data-dismiss="modal" (click)="closeModal()"><img src="../../../assets/img/close.png"
                      alt="close-image" /></div> -->
      <div class="modal-body pt-0">
        <hr class="custom-2" />

        <div class="scroll-div">
          <div class="instructions">
            <div class="d-flex">
              <p class="w-50 text-center instructions-text-heading">Country</p>
              <p class="w-50 text-center instructions-text-heading">
                Registered Users
              </p>
            </div>
            <div
              class="d-flex flex-column"
              *ngFor="let country of allCountries | keyvalue"
            >
              <div class="d-flex">
                <p
                  class="w-50 text-center instructions-text"
                  *ngIf="country.key.includes('_')"
                >
                  {{ country.key.split('_').join(' ').toUpperCase() }}
                </p>
                <p
                  class="w-50 text-center instructions-text"
                  *ngIf="!country.key.includes('_')"
                >
                  {{ country.key.toUpperCase() }}
                </p>
                <p class="w-50 text-center instructions-text">
                  {{ country.value }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
