<section class="myWallet-section" *ngIf="userObject">
  <div id="snackbar"></div>
  <div class="background">
    <div class="mywallet-head">
      <h1 style="display: inline-block" class="page-title setting-txt">
        {{ 'SETTINGS' | translate }}
      </h1>
      <a
        class="helpbtn d-none"
        style="float: right; margin-top: 35px; margin-right: auto"
        href="https://fruture.org/twoFactorInfo.html"
        target="_blank"
        >{{ 'Help' | translate }}</a
      >
      <toaster-container [toasterconfig]="config"></toaster-container>
    </div>
    <div class="edit-profile-sections">
      <div class="edit-profile-section">
        <p class="sub-title no-left-margin mb-4"> Your Profile </p>
        <div class="form-group">
          <label class="ico-label" for="name">Name</label>
          <input
            type="text"
            class="ico-inputs"
            id="name"
            name="userObject.Name"
            [ngModel]="userObject.Name"
            (input)="onNameInput($event)"
            (blur)="userObject.Name = userObject.Name.trim()"
            [disabled]="!isProfileEdit"
          />
        </div>
        <div class="form-group">
          <label class="ico-label" for="UserName">Username</label>
          <input
            type="text"
            [ngClass]="{
              'ico-inputs': true,
              'nn-input-sett-disabled': isProfileEdit,
              'nn-input-sett': !isProfileEdit
            }"
            id="UserName"
            name="userObject.UserName"
            [(ngModel)]="userObject.UserName"
            placeholder="N/A"
            disabled
          />
        </div>
        <div class="form-group">
          <label class="ico-label" for="PhoneNumber">Phone number</label>
          <input
            type="text"
            class="ico-inputs"
            id="PhoneNumber"
            name="userObject.PhoneNumber"
            [(ngModel)]="userObject.PhoneNumber"
            [attr.placeholder]="!userObject?.PhoneNumber ? 'N/A' : ''"
            (input)="onPhoneNumberInput($event)"
            [disabled]="!isProfileEdit"
          />
        </div>
        <div class="form-group">
          <label class="ico-label" for="Email">Primary Email</label>
          <input
            type="text"
            [ngClass]="{
              'ico-inputs': true,
              'nn-input-sett-disabled': isProfileEdit,
              'nn-input-sett': !isProfileEdit
            }"
            id="Email"
            name="userObject.Email"
            [(ngModel)]="userObject.Email"
            disabled
          />
        </div>
        <div class="centered-text">
          <button
            class="ico-submit"
            (click)="editProfileButton()"
            *ngIf="!isProfileEdit"
          >
            Edit Profile
          </button>
          <div class="d-flex">
            <button
              class="ico-submit mr-3"
              (click)="updateProfile()"
              *ngIf="isProfileEdit"
            >
              Submit
            </button>
            <button
              class="ico-submit"
              (click)="editProfileButton()"
              *ngIf="isProfileEdit"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
      <div class="edit-profile-section">
        <p class="sub-title no-left-margin mb-4"> Change Password </p>
        <div class="form-group">
          <label class="ico-label" for="oldPassword">Old Password</label>
          <div class="input-container">
            <input
              id="oldPassword"
              name="oldPassword"
              type="password"
              #currentpassword
              class="ico-inputs"
              placeholder="{{ 'Old Password' | translate }}"
              [(ngModel)]="oldPassword"
            />
            <span
              *ngIf="!isShow"
              class="toggle-password fa fa-eye-slash"
              (click)="showPassword('currentpassword')"
            ></span>
            <span
              *ngIf="isShow"
              class="fa fa-eye toggle-password"
              (click)="hidePassword('currentpassword')"
            ></span>
          </div>
        </div>

        <div class="form-group">
          <label class="ico-label" for="password">New Password</label>
          <div class="input-container">
            <input
              id="password"
              name="password"
              type="password"
              #newpassword
              class="ico-inputs"
              placeholder="{{ 'New Password' | translate }}"
              [(ngModel)]="password"
            />
            <span
              *ngIf="!isNew"
              class="toggle-password fa fa-eye-slash"
              (click)="showPassword('newpassword')"
            ></span>
            <span
              *ngIf="isNew"
              class="fa fa-eye toggle-password"
              (click)="hidePassword('newpassword')"
            ></span>
          </div>
        </div>

        <div class="form-group">
          <label class="ico-label" for="cPassword"> Confirm Password </label>
          <div class="input-container">
            <input
              id="cPassword"
              name="cPassword"
              type="password"
              #confirmpassword
              (keydown)="submitResetPasswordRequestWithEnter($event)"
              class="ico-inputs"
              placeholder="{{ 'Confirm Password' | translate }}"
              [(ngModel)]="cPassword"
            />
            <span
              *ngIf="!isConfirm"
              class="toggle-password fa fa-eye-slash"
              (click)="showPassword('confirmpassword')"
            ></span>
            <span
              *ngIf="isConfirm"
              class="fa fa-eye toggle-password"
              (click)="hidePassword('confirmpassword')"
            ></span>
          </div>
        </div>

        <div class="centered-text" *ngIf="updatePasswordBtn">
          <button class="ico-submit" (click)="updatePassword()">
            {{ 'Change Password' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
