<div class="dashboard-section">
  <toaster-container [toasterconfig]="config"></toaster-container>

  <div class="dashboard-upper-sec mb-3">
    <div class="d-flex justify-content-center">
      <div class="d-flex align-items-center content-flex">
        <h1 class="ml-2 page-title text-left text-class">
          {{ 'Dashboard' | translate }}
        </h1>
      </div>
      <!-- <div class="no-padding center-select dashboard-dropdown">
                <div class="form-group">
                    <label class="black-labels hidden-above-sm " style="visibility: hidden;    padding-bottom: 5px;">PUC</label>
                    <span class="custom-dropdown big">
                        <img class="custom-arrow" src="../../../assets/img/drop-down-arrow.png" alt="" srcset="">
                        <select (change)="convertCurrencyToeMy($event.target.value)">
                            <option value="mxn">USD</option>
                            <option value="btc">BTC</option>
                            <option value="ltc">LTC</option>
                            <option value="eth">ETH</option>
                            <option value="usd">USDT</option>
                            <option value="bch">BCH</option>
                        </select>
                    </span>
                </div>
            </div> -->
    </div>

    <!-- Earn and XCHGE-->

    <!-- <ul class="earn-boxes-list xchge-earn-list clearfix"> -->

    <!-- <li>
            <div class="inner-box xchge-top min-hg background-green">
                <p class="earns-label color-blue" style="font-weight: 700;margin-top: 19px;font-size: 20px;">
                    <img class="fru-width" style="margin-bottom: 11px;" src="../../../assets//img//fru.png" alt="">
                    FRU:
                    <strong class="earn-bold">{{investedValues.TokenBalance | currency:'crypto'}}</strong>
                </p>

            </div>
        </li> -->

    <!-- <li>
            <div class="inner-box earn-top">

                <p class="earns-label">Earn:
                    <strong class="earn-bold">{{investedValues.EARNTokenBalance}}</strong>
                </p>

            </div>
        </li> -->

    <!-- </ul> -->

    <div class="row m-0 dash-info-row">
      <div class="col-lg-3 col-md-4 pl-md-0 p-0 mb-3">
        <div class="info-custom-card">
          <div class="content">
            <span class="heading text-class">Purchased Tokens</span>
            <span class="pulper-color"> {{ totalPiptles }} </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 pl-md-0 p-0 mb-3">
        <div class="info-custom-card">
          <div class="content">
            <span class="heading text-class">Interest Tokens</span>
            <span class="pulper-color">
              {{ interestTokens | number: '1.4-4' }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 pl-md-0 p-0 mb-3">
        <div class="info-custom-card">
          <div class="content">
            <span class="heading text-class">Current Stage </span>
            <span class="pulper-color" *ngIf="RatesModel?.stageName">
              {{ RatesModel?.stageName ? RatesModel?.stageName : '0' }}
            </span>
            <span class="pulper-color" *ngIf="!RatesModel?.stageName"> 0 </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 pl-md-0 p-0 pr-0 mb-3">
        <div class="info-custom-card">
          <div class="content">
            <span class="heading text-class">Total Backers</span>
            <span class="pulper-color"> {{ totalBackers }} </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 pl-md-0 p-0 mb-3">
        <div class="info-custom-card">
          <div class="content">
            <span class="heading text-class">Current eMaaya Value </span>
            <!-- <span class="pulper-color"> $ {{RatesModel?.liveRate | currency : 'stageRate'}} </span> -->
            <span class="pulper-color value-text text-uppercase">
              {{ selectedCurrencyUSD }}
              {{ selectedCurrencyValue }}
            </span>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-4 pl-md-0 p-0 mb-3">
        <div class="info-custom-card dark-bg">
          <div class="content">
            <span class="heading prp-text text-class">Your Total $EMYA:</span>
            <span class="heading prp-text-ppt">
              {{ totalPiptles ? (totalPiptles | currency: 'crypto') : 0 }}
            </span>
          </div>
        </div>
      </div> -->
      <div class="col-lg-3 col-md-3 pl-md-0 p-0 mb-3">
        <div class="info-custom-card dark-bg">
          <div class="content">
            <span class="heading prp-text text-class"
              >Your Total eMaaya Value</span
            >
            <span class="heading prp-text-ppt">
              {{ totalValueAud | number: '1.4-4' }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Earn and XCHGE-->

    <div class="row row-payemnt-card">
      <div class="col-md-6 col-sm-12">
        <div class="payment-card">
          <div class="h-100">
            <iframe
              class="payment-card-video"
              src="https://www.youtube.com/embed/OI7VlRNqpWM?autoplay=1&loop=1&mute=1&showinfo=0&iv_load_policy=3&rel=0&controls=0"
              title="Digimaaya  - Company Show Reel"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowFullScreen
            ></iframe>
            <!-- <iframe
              class="payment-card-video"
              src="https://www.youtube.com/embed/mTufGCkzRAc?autoplay=1&mute=1&showinfo=0&iv_load_policy=3&rel=0&controls=0"
              title="Ideofuzion  - Company Show Reel"
              frameBorder="{0}"
              referrerPolicy="strict-origin-when-cross-origin"
              allowFullScreen
            ></iframe> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 graphcontent">
        <div class="payment-card">
          <div class="content d-flex justify-content-center">
            <span class="payments-accepted-for"
              >eMaaya Sale Graph (Per Week) :</span
            >
          </div>
          <!-- <p class="graph-text">eMaaya PRICING AND TOTAL PARTICIPANTS</p>    
            <p class="graph-inner-text">launching soon</p> -->
          <canvas
            baseChart
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [options]="pieChartOptions"
            [chartType]="lineChartType"
            [colors]="lineChartColors"
          ></canvas>

          <!-- <div style="display: block;margin-top:30px;">
                
            </div> -->
        </div>
      </div>
    </div>

    <ul class="earn-boxes-list clearfix d-none">
      <!-- <li>
            <div class="inner-box">


                <div class="clearfix centering-content">

                    <div class="left-svg">
                        <div class="left-svg-inner">
                            <img width="30px" src="../../../assets/img/coin-euro.png" alt="Euro-icon">
                        </div>
                    </div>

                    <div class="grey-bottom-line">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="153px" height="6px">
                            <image x="0px" y="0px" width="153px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJkAAAAGCAMAAADnssweAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAP1BMVEX////O19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19zO19z///+7pn4TAAAAE3RSTlMAACPK7e/7/v3cNeDyRE70cWDwgg7LXAAAAAFiS0dEAIgFHUgAAAAHdElNRQfiBwMQHjDZc8/UAAAAX0lEQVQoz2NgYGBgZGRiZkEHrGzsqIADU46DGOUIGQ5izIYBTgaQy7i4hQcd4AG5jJdloJ2BBbAAHcbHP9CuwOEygYF2A3bAwyAoxIqe+PjZsQEOTDkOAsr5CQrhyQEAGGozVYFNo2UAAAAASUVORK5CYII="
                            />
                        </svg>
                    </div>
                    <div class="right-stats">
                        <div class="stats">

                            <p class="balance">{{investedValues.EURContributes}}
                                <span class="currency">Euro</span>
                            </p>
                            <p class="currency-heading">Euro Invested</p>

                        </div>
                    </div>
                </div>

            </div>
        </li> -->
    </ul>
  </div>
  <div class="dashboard-upper-sec">
    <div class="container-fluid">
      <div class="row d-block m-b-20">
        <div class="row row-eq-height">
          <!--col col-xl-4 col-lg-6 mar-btm20 left-box -->
          <div class="col-lg-12 col-xl-12 mar-btm20 left-box">
            <div class="calculator-box clearfix">
              <ul
                class="nav nav-pills calculator-tabs"
                id="pills-tab"
                role="tablist"
              >
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="pills-home-tab"
                    data-toggle="pill"
                    href="#pills-home"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true"
                  >
                    {{ 'Calculator' | translate }}
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pills-profile-tab"
                    data-toggle="pill"
                    href="#pills-profile"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false"
                  >
                    {{ 'ROUND STAGES' | translate }}
                  </a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-home"
                  role="tabpanel"
                  aria-labelledby="pills-home-tab"
                >
                  <div class="inner-calc">
                    <p class="advised-txt">
                      Please be advised that the minimum purchase amount is USDT
                      $50.
                    </p>

                    <div class="header-box m-b-20 clearfix">
                      <div class="calculator-left">
                        <!-- <h2 class="sub-title color-green">{{ 'Calculator' | translate }}
                                                <span class="sub-title-dash">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="6px">
                                                        <image x="0px" y="0px" width="47px" height="6px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAMAAABkWjdgAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEX///8gl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9T///+ffR1AAAAAEHRSTlMA7f3+9O/wYHFOROA1+8ojSqzE/AAAAAFiS0dEAIgFHUgAAAAHdElNRQfiBhsLFicqx9pKAAAAOUlEQVQY02NgBAEmZmyAhRENsLKxMwiQAjgYSFHPwslAinpGLgZS1HPzgJQzYPUvLyu6Vxn5+MHKAb8aC8h9RInbAAAAAElFTkSuQmCC"
                                                        />
                                                    </svg>
                                                </span>
                                            </h2> -->
                      </div>
                      <div
                        class="calculator-center d-none hidden-l1600 d-sm-block d-lg-none"
                      ></div>
                    </div>
                    <div class="row in-calculator">
                      <div class="col-md-4 col-xs-12 p-0 pl-md-0 pr-md-3">
                        <div class="form-group">
                          <label class="black-labels hidden-above-sm p-b-5">{{
                            selectedCurrencyActual
                          }}</label>
                          <!-- <div class="spin-hider"></div> -->
                          <!-- <div id="inc-button" class="spinner-button">
                            <img
                              src="../../../assets/img/drop-up-arrow.png"
                              alt=""
                              srcset=""
                            />
                          </div>
                          <div id="dec-button" class="spinner-button">
                            <img
                              src="../../../assets/img/drop-down-arrow.png"
                              alt=""
                              srcset=""
                            />
                          </div> -->
                          <label
                            class="black-labels d-block d-sm-none d-none d-sm-block d-md-none"
                            >{{ selectedCurrencyActual }}</label
                          >
                          <input
                            type="number"
                            name="coinsWanted"
                            placeholder="0.00"
                            [(ngModel)]="coinsWanted"
                            class="black-bg-inputs"
                            (keyup)="byPasserFunction($event.target.value)"
                            (click)="changeOnClick($event.target.value)"
                            id="coinsWanted"
                            (input)="checkLength()"
                          />
                        </div>
                      </div>

                      <div class="col-md-4 col-xs-12 pl-0 center-select">
                        <div class="form-group">
                          <label
                            class="black-labels hidden-above-sm"
                            style="visibility: hidden; padding-bottom: 5px"
                            >PUC</label
                          >
                          <span class="custom-dropdown big">
                            <img
                              class="custom-arrow"
                              src="../../../assets/img/drop-down-arrow.png"
                              alt=""
                              srcset=""
                            />
                            <select
                              (change)="
                                getCurrencySelected($event.target.value)
                              "
                            >
                              <!-- <option value="usd">USD</option> -->
                              <option value="usdc">USDC</option>
                              <option value="usdt">USDT</option>
                              <!-- <option value="btc">BTC</option> -->
                              <option value="eth">ETH</option>
                              <!-- <option value="ton">TON</option> -->
                              <!-- <option value="sol">SOL</option> -->
                              <option value="bnb">BNB</option>
                            </select>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4 col-xs-12 p-0">
                        <div class="form-group">
                          <label class="black-labels p-b-5 hidden-above-sm"
                            >eMaaya</label
                          >
                          <!-- <div class="spin-hider"></div> -->

                          <label
                            class="black-labels d-block d-sm-none d-none d-sm-block d-md-none"
                            >PUC</label
                          >
                          <input
                            type="number"
                            name="coinsCalculated"
                            placeholder="0.00"
                            [(ngModel)]="coinsCalculated"
                            (keyup)="
                              byPasserReverseFunction($event.target.value)
                            "
                            (click)="changeOnReverse($event.target.value)"
                            id="coinsCalculated"
                            (input)="checkLengthForCoinsCalculated()"
                            class="black-bg-inputs"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="table-wrapper">
                        <div class="table-responsive">
                          <table class="table calc-bottom-table">
                            <tbody>
                              <tr>
                                <td class="left-header">
                                  {{ 'Round Stage' | translate }}
                                </td>
                                <td class="right-header">
                                  {{ RatesModel?.stageName }}
                                </td>
                                <!-- <td class="right-aligned text-uppercase">FRU</td> -->
                              </tr>
                              <!-- 
                              <tr>
                                <td class="left-header"
                                  >Interest &#64; 10APY</td
                                >
                                <td class="right-header">
                                  {{ bonusPercentage }} %
                                </td>
                              </tr> -->
                              <!-- 
                              <tr>
                                <td class="left-header">Bonus Coins</td>
                                <td class="right-header">
                                  {{ bonusCoins | currency }}
                                </td>
                              </tr> -->
                              <!-- <tr> -->
                              <!-- <td class=" left-header">{{'Total' | translate}}</td> -->
                              <!-- <td class="final-price">{{totalCoinToPayFor}}</td> -->
                              <!-- <td class="">{{coinsCalculatedBottom | currency:'crypto'}} PUC</td> -->
                              <!-- <td class="right-aligned final-price text-uppercase"></td> -->
                              <!-- </tr> -->
                            </tbody>
                            <tfoot class="d-none">
                              <tr>
                                <td class="final-price left-header">
                                  {{ 'Total' | translate }}
                                </td>
                                <!-- <td class="final-price">{{totalCoinToPayFor}}</td> -->
                                <td class="final-price">
                                  {{ coinsCalculatedBottom }}
                                  PUC
                                </td>
                                <!-- <td class="right-aligned final-price text-uppercase"></td> -->
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="footer-bottom">
                    <div class="blck-elems">
                      <div
                        class="left width100 width40 ipad-adjstmnt1 adjst1 left-pgram-buy"
                      >
                        <div class="d-flex flex-column">
                          <p class="buy-txt text-white pb-0">
                            {{ 'Buy' | translate }} With
                          </p>
                          <div class="d-flex flex-column text-white">
                            <p class="puc-txt">
                              {{ coinsCalculatedBottom | currency: 'crypto' }}
                              $EMYA
                            </p>
                            <p class="curr-txt mb-0">
                              {{ coinsWantedBottom | currency: 'crypto' }}
                              {{ selectedCurrencyActual | currency: 'crypto' }}
                            </p>
                            <p class="curr-txt">
                              (USD ${{
                                totalCalulatedValue | currency: 'crypto'
                              }})
                            </p>
                          </div>
                        </div>
                      </div>

                      <button
                        class="pay-btn bg-small"
                        (click)="navigateToBuyTokens()"
                      >
                        {{ 'pay' | translate }}
                      </button>
                    </div>
                  </div> -->
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-profile"
                  role="tabpanel"
                  aria-labelledby="pills-profile-tab"
                >
                  <div class="stage-table-div">
                    <div class="table-responsive">
                      <table class="stage-table table-striped">
                        <thead>
                          <tr>
                            <th>Stage Name</th>
                            <th>Total Amount</th>
                            <th>Stage Price</th>
                            <th>Start Date</th>
                            <th>Total Coins Issued</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sData of stageData">
                            <td> {{ sData.StageName }} </td>
                            <td>{{ sData.TotalSaleAmount }} </td>
                            <td>
                              {{ sData.StageRate.$numberDecimal }}
                            </td>
                            <td>
                              {{ sData.StageStartDate | date: 'yyyy-MM-dd' }}
                            </td>
                            <td>
                              {{ sData.TotalAmountSold | number: '1.4-4' }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12-->
          <!-- <div class="col-lg-6 col-xl-6 mar-btm20 centered-div">
            <div class="calculator-box clearfix">
              <div class="header-box padding-16 clearfix">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="rates-title-sec w-50">
                    <h2 class="rates-title">
                      {{ 'live rates' | translate }}(feed CoinMarketcap.com
                      from)
                    </h2>
                  </div>
                  <div class="d-flex flex-row w-50 text-center">
                    <p class="tbl-value">Value in USD</p>
                    <p class="tbl-value">$EMYA Coins</p>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="dotted-table-wrap">
                  <div class="over_flow_table">
                    <table
                      class="table table-striped rates-table"
                      id="rates-table"
                    >
                      <tbody>
                        <tr>
                          <td
                            class="rates-table-currency no-left liveRateWidth"
                          >
                            1 BTC
                          </td>
                          <td class="rates-table-value">
                            $ {{ liveRates?.btc | currency: 'fait' }}
                            <span class="mxn-rate">USD</span>
                          </td>
                          <td class="rates-table-value">
                            {{ liveRates?.tokenInBtc | currency: 'fait' }}
                            <span class="mxn-rate">$EMYA</span>
                          </td>
                        </tr>

                        <tr>
                          <td
                            class="rates-table-currency no-left liveRateWidth"
                          >
                            1 BCH
                          </td>
                          <td class="rates-table-value">
                            $ {{ liveRates?.bch | currency: 'fait' }}
                            <span class="mxn-rate">USD</span>
                          </td>
                          <td class="rates-table-value">
                            {{ liveRates?.tokenInBch | currency: 'fait' }}
                            <span class="mxn-rate">$EMYA</span>
                          </td>
                        </tr>

                        <tr>
                          <td
                            class="rates-table-currency no-left liveRateWidth"
                          >
                            1 ltc
                          </td>
                          <td class="rates-table-value">
                            $ {{ liveRates?.ltc | currency: 'fait' }}
                            <span class="mxn-rate">USD</span>
                          </td>
                          <td class="rates-table-value">
                            {{ liveRates?.tokenInLtc | currency: 'fait' }}
                            <span class="mxn-rate">$EMYA</span>
                          </td>
                        </tr>

                        <tr>
                          <td
                            class="rates-table-currency no-left liveRateWidth"
                          >
                            1 eth
                          </td>
                          <td class="rates-table-value">
                            $ {{ liveRates?.eth | currency: 'fait' }}
                            <span class="mxn-rate">USD</span>
                          </td>
                          <td class="rates-table-value">
                            {{ liveRates?.tokenInEth | currency: 'fait' }}
                            <span class="mxn-rate">$EMYA</span>
                          </td>
                        </tr>

                        <tr>
                          <td
                            class="rates-table-currency no-left liveRateWidth"
                          >
                            1 USDT
                          </td>
                          <td class="rates-table-value">
                            $ {{ liveRates?.usd | currency: 'fait' }}
                            <span class="mxn-rate">USD</span>
                          </td>
                          <td class="rates-table-value">
                            {{ liveRates?.tokenInUsd | currency: 'fait' }}
                            <span class="mxn-rate">$EMYA</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- col-xl-4 -->
          <!-- <div class="col-md-6 col-lg-12 col-xl-4 right-box">
                    <div class="content-box p-0">

                        <div class="absolute-blog">
                            <span class="border-separator"></span>

                            <h4 class="section-title ">Crypto News
                            </h4>
                        </div>
                        <div id="carouselExampleIndicators" class="carousel slide carousel-custom" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li *ngFor="let blog of Blogs;let i=index" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" [ngClass]="{'active': i==0}"></li>

                            </ol>

                            <div class="carousel-inner">

                                <div class="carousel-item" [ngClass]="{'active': i==0}" *ngFor="let blog of Blogs;let i=index">
                                    <div class='carousel-overlay'></div>
                                    <img *ngIf="blog.ImageUrl!='' && blog.ImageUrl!=null && blog.ImageUrl!=undefined " class="d-block w-100" src="{{blog.ImageUrl}}"
                                        alt="{{blog.Title}}">
                                    <img *ngIf="blog.ImageUrl  == null || blog.ImageUrl == undefined || blog.ImageUrl == ''" class="d-block w-100" src="../../../assets/img/blog.png"
                                        alt="{{blog.Title}}">
                                    <div class="carousel-caption">
                                        <a class="blog-links" href="{{blog.BlogUrl}}" target="_blank">


                                            <h5>{{blog.Title}}</h5>
                                            <p>
                                                <span class="post-date">{{blog.CreatedOnUTC}}</span>

                                            </p>

                                        </a>
                                    </div>
                                </div>


                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <img src="../../../assets/img/arr-left.png" alt="">
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <img src="../../../assets/img/arr-right.png" alt="">
                            </a>
                        </div>
                    </div>
                </div> -->
        </div>
      </div>
      <div class="row row-eq-height">
        <div class="bottom-complete-table col-lg-12 p-0 mb-3">
          <buy-emaaya></buy-emaaya>
        </div>
        <div class="bottom-complete-table col-lg-12">
          <div class="full-width-table">
            <div class="table-responsive">
              <div class="header-box clearfix">
                <div class="calculator-left d-flex justify-content-center">
                  <h2 class="sub-title">
                    Purchase Transactions
                    <span class="sub-title-dash">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="47px"
                        height="6px"
                      >
                        <image
                          x="0px"
                          y="0px"
                          width="47px"
                          height="6px"
                          xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAGCAMAAABkWjdgAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEX///8gl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9Qgl9T///+ffR1AAAAAEHRSTlMA7f3+9O/wYHFOROA1+8ojSqzE/AAAAAFiS0dEAIgFHUgAAAAHdElNRQfiBhsLFicqx9pKAAAAOUlEQVQY02NgBAEmZmyAhRENsLKxMwiQAjgYSFHPwslAinpGLgZS1HPzgJQzYPUvLyu6Vxn5+MHKAb8aC8h9RInbAAAAAElFTkSuQmCC"
                        />
                      </svg>
                    </span>
                  </h2>
                </div>

                <div class="calculator-center phn-font-adjust"></div>
              </div>

              <div *ngIf="noTransactions" class="no-data-found">
                {{ 'No Data Found' | translate }}
              </div>

              <table
                *ngIf="!noTransactions"
                class="table table-striped transactions-new-design"
              >
                <thead>
                  <tr>
                    <th class="img-width-table table-head"></th>
                    <!-- <th class="img-width-table-2"></th> -->
                    <th
                      class="rates-table-currency table-head special-padded left-aligned tx-hash-width"
                    >
                      Transaction
                    </th>
                    <!-- <th
                      class="rates-table-currency table-head text-centered no-top-padding"
                    >
                      {{ 'Tokens' | translate }}
                    </th>
                    <th
                      class="rates-table-currency table-head text-centered no-top-padding"
                    >
                      {{ 'Discount' | translate }}%
                    </th> -->
                    <th class="rates-table-currency table-head no-top-padding">
                      {{ 'Total Tokens' | translate }}
                    </th>
                    <th class="rates-table-currency table-head no-top-padding">
                      Currency used
                    </th>
                    <th class="rates-table-currency table-head no-top-padding">
                      eMaaya Value USD
                    </th>

                    <th class="rates-table-currency table-head">
                      {{ 'Date/Time' | translate }}
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let transactions of recentTransactions">
                    <td class="img-width-table v-middle table-head">
                      <div class="coin-image">
                        <!-- <img *ngIf="transactions.TransactionCurrencyType=='eMy'" src="../../../assets/img/eMaaya logo.png" alt="dollar-icon">

                                            <img *ngIf="transactions.TransactionCurrencyType=='USD'" src="../../../assets/img/dollar-icon-green.png" alt="dollar-icon">
                                            <img *ngIf="transactions.TransactionCurrencyType=='MXN'" src="../../../assets/img/dollar-icon.png" alt="dollar-icon"> -->
                        <!-- <img *ngIf="transactions.TransactionCurrencyType=='EUR'" src="../../../assets/img/coin-euro.png" alt="euro-icon"> -->
                        <!-- <img *ngIf="transactions.TransactionCurrencyType=='LTC'" src="../../../assets/img/litecoin-ltc-logo.png" alt="ltc-icon">
                                            <img *ngIf="transactions.TransactionCurrencyType=='BTC'" src="../../../assets/img/btc-left.png" alt="btc-icon"> -->
                        <!-- <img *ngIf="transactions.TransactionCurrencyType=='DASH'" src="../../../assets/img/dash-left.png" alt="dash-icon"> -->
                        <!-- <img *ngIf="transactions.TransactionCurrencyType=='ETH'" src="../../../assets/img/eth-left.png" alt="eth-icon">
                                            <img *ngIf="transactions.TransactionCurrencyType=='BCH'" src="../../../assets/img/bitcoin-cash-bch-logo.png" alt="bch-icon"> -->
                        <!-- <img *ngIf="transactions.TransactionCurrencyType=='BTG'" src="../../../assets/img/btg-left.png" alt="btg-icon"> -->
                        <!-- <img style="padding-top: 12px;" *ngIf="transactions.TransactionCurrencyType=='FRU'" src="../../../assets/img/fav.png" alt="xchge-icon"> -->
                        <img
                          src="../../../assets/img/Recieve international payments.png"
                          alt="dollar-icon"
                        />
                      </div>
                    </td>
                    <!-- <td class="img-width-table-2 v-middle">



                                        <div class="coin-image" *ngIf="transactions.TransactionType == 'INCOMING'|| transactions.TransactionType=='WIRETRANSFER' || transactions.TransactionType=='CREDITCARD'  || transactions.TransactionType =='PRIVATESALE'">
                                            <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Dashboard" transform="translate(-374.000000, -1063.000000)">
                                                        <g id="arrow-copy-3" transform="translate(374.000000, 1063.000000)">
                                                            <circle id="Oval-2" fill="#3AB4E5" fill-rule="nonzero" cx="10" cy="10" r="10"></circle>
                                                            <path d="M13.7593135,10.5093781 C13.7334225,10.4500378 13.6730205,10.4113156 13.605959,10.4113156 L11.7872855,10.4113156 L11.7872855,6.44439641 C11.7872855,6.35680661 11.7129266,6.28571429 11.6213122,6.28571429 L8.96583264,6.28571429 C8.87421824,6.28571429 8.79985933,6.35680661 8.79985933,6.44439641 L8.79985933,10.4113156 L6.9742152,10.4113156 C6.90715371,10.4113156 6.84675169,10.4500378 6.82086066,10.5090657 C6.79529638,10.568406 6.8092377,10.6366421 6.85670977,10.6820287 L10.1677738,13.8581108 C10.1989706,13.8879372 10.2411213,13.9047619 10.2852792,13.9047619 C10.3294215,13.9047619 10.3715722,13.8879372 10.4027846,13.8584232 L13.7234644,10.6823411 C13.7709365,10.6369545 13.7852045,10.5687332 13.7593135,10.5093781"
                                                                id="Fill-1" fill="#FFFFFF"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>

                                        <div class="coin-image inverted" *ngIf="transactions.TransactionType == 'OUTGOING'  ">
                                            <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Dashboard" transform="translate(-374.000000, -1063.000000)">
                                                        <g id="arrow-copy-3" transform="translate(374.000000, 1063.000000)">
                                                            <circle id="Oval-2" fill="green" fill-rule="nonzero" cx="10" cy="10" r="10"></circle>
                                                            <path d="M13.7593135,10.5093781 C13.7334225,10.4500378 13.6730205,10.4113156 13.605959,10.4113156 L11.7872855,10.4113156 L11.7872855,6.44439641 C11.7872855,6.35680661 11.7129266,6.28571429 11.6213122,6.28571429 L8.96583264,6.28571429 C8.87421824,6.28571429 8.79985933,6.35680661 8.79985933,6.44439641 L8.79985933,10.4113156 L6.9742152,10.4113156 C6.90715371,10.4113156 6.84675169,10.4500378 6.82086066,10.5090657 C6.79529638,10.568406 6.8092377,10.6366421 6.85670977,10.6820287 L10.1677738,13.8581108 C10.1989706,13.8879372 10.2411213,13.9047619 10.2852792,13.9047619 C10.3294215,13.9047619 10.3715722,13.8879372 10.4027846,13.8584232 L13.7234644,10.6823411 C13.7709365,10.6369545 13.7852045,10.5687332 13.7593135,10.5093781"
                                                                id="Fill-1" fill="#FFFFFF"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>

                                    </td> -->

                    <td
                      class="tx-hash-width v-middle table-head"
                      *ngIf="
                        transactions.TransactionType == 'WIRETRANSFER' ||
                        transactions.TransactionType == 'CREDITCARD' ||
                        transactions.TransactionType == 'PRIVATESALE' ||
                        transactions.TransactionType == 'ADMIN SENT' ||
                        transactions.TransactionType == 'WITHDRAWAL' ||
                        transactions.TransactionType == 'REFERRAL REWARD' ||
                        transactions.TransactionType == 'LICENSEES' ||
                        transactions.TransactionType == 'STAKED' ||
                        transactions.TransactionType ==
                          'UNSOLVED TRANSACTION' ||
                        transactions.TransactionType == 'AVAILABLE' ||
                        transactions.TransactionType == 'ACTIVITY REWARD' ||
                        transactions.TransactionType == 'STAKING REWARD' ||
                        transactions.TransactionType == 'PURCHASE'
                      "
                    >
                      <div *ngIf="transactions.TransactionHash.length > 15">
                        <a
                          class="no-underline"
                          target="_blank"
                          [href]="
                            linkForTransaction(
                              transactions.ChainTxId,
                              transactions.ChainName
                            )
                          "
                        >
                          {{ transactions.TransactionHash.slice(0, 6) }}...{{
                            transactions.TransactionHash.slice(
                              transactions.TransactionHash.length - 6
                            )
                          }}
                        </a>
                      </div>
                      <div *ngIf="transactions.TransactionHash.length <= 15">
                        <a
                          class="no-underline"
                          target="_blank"
                          [href]="
                            linkForTransaction(
                              transactions.ChainTxId,
                              transactions.ChainName
                            )
                          "
                          >{{ transactions.TransactionHash }}</a
                        >
                      </div>
                    </td>

                    <td
                      class="tx-hash-width v-middle table-head"
                      *ngIf="
                        transactions.TransactionType == 'INCOMING' ||
                        transactions.TransactionType == 'OUTGOING'
                      "
                    >
                      <a
                        class="no-underline"
                        href="{{ transactions.TransactionURL }}"
                        target="_blank"
                        >{{ transactions.TransactionHash }}</a
                      >
                    </td>

                    <!-- <td class="v-middle">
                                        <p class="stacked-text">{{'Tokens' | translate}}: {{transactions.CalculatedTokens | currency:'crypto'}}</p>
                                        <p class="stacked-text">{{'Discount' | translate}}: {{transactions.BonusPercentage}}%</p>
                                        <p class="stacked-text">
                                            <strong>{{'Total Tokens' | translate}}: {{transactions.TotalTokens | currency}} </strong>
                                        </p>

                                    </td> -->

                    <!-- <td class="text-centered v-middle stacked-text table-head">
                      {{ transactions.CalculatedTokens | currency }}
                    </td>
                    <td class="text-centered v-middle stacked-text table-head">
                      {{ transactions.BonusPercentage }}
                    </td> -->
                    <td class="v-middle stacked-text table-head">
                      {{ transactions.TotalTokens | number: '1.3-3' }}
                    </td>
                    <td class="v-middle stacked-text table-head">
                      <!-- {{transactions.CryptoAmountReceive | currency:'crypto'}} -->
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'BTC'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == '$EMYA'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'USD'"
                      >
                        USDT
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'MXN'"
                      >
                        USD
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'LTC'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'ETH'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'BCH'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'USDT'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'USDC'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                      <p
                        class="mb-0"
                        *ngIf="transactions.CurrencyUsed == 'BNB'"
                      >
                        {{ transactions.CurrencyUsed }}
                      </p>
                    </td>
                    <td class="v-middle stacked-text table-head">
                      {{
                        transactions.TotalTokens * selectedCurrencyValue
                          | number: '1.3-3'
                      }}
                    </td>
                    <td class="v-middle stacked-text table-head">
                      {{ transactions.CreatedOnUTC }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- <div class='pagination-bottom' *ngIf="paginationNumber>recentTransactionsPSize">

                        <pagination-controls *ngIf="recentTransactionsPSize < paginationNumber" responsive="true" previousLabel="" nextLabel="" (pageChange)="changePage($event)"></pagination-controls>


                        <ul class="no-visibility-2">
                            <li *ngFor="let item of recentTransactions | paginate: { itemsPerPage: recentTransactionsPSize, currentPage: currentPage, totalItems: paginationNumber }">{{item}}</li>
                        </ul>

                    </div> -->

            <!-- <div *ngIf="paginationNumber>recentTransactionsPSize" class='pagination-bottom'>
                        <ul class="pagination">
                            <li *ngFor="let page of pagination;" [ngClass]="{'active': page==recentTransactionsPNumber}" (click)="getPageForPagination(page)">
                                {{page + 1}}
                            </li>
                        </ul>
                    </div> -->

            <div class="clear"></div>
          </div>
        </div>

        <!-- <div class="col-lg-6 chart-div">
          <div class="white-outer">
            <div class="header-box clearfix">
              <div class="calculator-left">
                <div class="d-flex flex-column">
                  <div
                    class="d-flex align-items-center justify-content-between padding-bottom-40"
                  >
                    <span class="global-transaction-heading">
                      {{ 'Global Transaction' | translate }}:
                    </span>
                    <span class="global-transaction-heading-two"
                      >{{ date | date }}
                    </span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between padding-bottom-40"
                  >
                    <span class="global-transaction-heading">
                      eMaayas Issues
                    </span>
                    <span class="global-transaction-heading-two"
                      >{{ piptleIssued | currency }}
                    </span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="global-transaction-heading">
                      Purchase Value:
                    </span>
                    <span class="global-transaction-heading-two"
                      >{{ purchaseValue | currency }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="calculator-center phn-font-adjust"></div>
            </div>

            <div class="clearfix">

              <div *ngIf="!noLatestTransactions">
                <div class="left-chart">
                  <div style="display: block; margin-top: 30px">
                    <canvas
                      baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [options]="pieChartOptions"
                      [chartType]="doughnutChartType"
                      [colors]="chartColors"
                    ></canvas>
                  </div>
                </div>
                <div class="right-legends" id="js-legend">
                  <ul class="legends-ul">
                    <li>
                      <div class="colors-box bg-color-btc"></div>
                      <div class="colors-text">
                        <p class="legend-text">BTC</p>
                      </div>
                    </li>

                    <li>
                      <div class="colors-box bg-color-ltc"></div>
                      <div class="colors-text">
                        <p class="legend-text">LTC</p>
                      </div>
                    </li>

                    <li>
                      <div class="colors-box bg-color-eth"></div>
                      <div class="colors-text">
                        <p class="legend-text">ETH</p>
                      </div>
                    </li>

                    <li>
                      <div class="colors-box bg-color-usd"></div>
                      <div class="colors-text">
                        <p class="legend-text">usd</p>
                      </div>
                    </li>

                    <li>
                      <div class="colors-box bg-color-euro"></div>
                      <div class="colors-text">
                        <p class="legend-text">USD</p>
                      </div>
                    </li>
                    <li>
                      <div class="colors-box bg-color-bch"></div>
                      <div class="colors-text">
                        <p class="legend-text">BCH</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
