<div class="landing-wrapper">
  <div class="d-flex flex-row justify-content-between header-section">
    <div class="logo-div">
      <img src="../../../assets/img/landing-page-logo.png" />
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p class="header-text mb-5">Cookie Policy</p>
  </div>
  <div class="d-flex flex-column header-section">
    <div class="d-flex flex-column align-items-start cookiePolicySection">
      <h4 class="subHeading text-left"> What are cookies ? </h4>
      <p class="features-text my-5">
        Cookies are text files containing small amounts of information which are
        downloaded to your computer or mobile device when you visit a site and
        allow a site to recognize your device. Cookies managed by Accenture only
        are called “first party cookies” whereas cookies from third parties are
        called “third party cookies” as explained below.
      </p>
      <h4 class="subHeading text-left">
        Why do we use cookies and similar technologies?
      </h4>
      <p class="features-text my-5">
        Cookies do a lot of different jobs, such as letting you navigate between
        pages efficiently, remembering your preferences and generally improving
        the user experience. They can also help to ensure that the
        advertisements you see online are more relevant to you and your
        interests. In addition, cookies can help us to analyze the use of our
        websites and online content (analytics cookies) and they can also
        facilitate/track the interaction on our websites and online content with
        social media (e.g. links to social media sites, like buttons, etc.).
      </p>
      <h4 class="subHeading text-left">
        Does Accenture use cookies for marketing and analytics?
      </h4>
      <p class="features-text my-5">
        Yes, we may use information collected from our cookies to identify user
        behavior and to serve content and offers based on your profile, and for
        the other purposes described below, to the extent legally permissible in
        certain jurisdictions. In other cases, we can associate cookie
        information (including information from cookies placed via our
        advertisements on third party sites) with an identifiable individual.
        For example:
      </p>
      <p class="features-text">
        If we send you a targeted email which includes web beacons, cookies or
        similar technologies we will know whether you open, read, or delete the
        message.
      </p>
      <p class="features-text">
        When you click a link in a marketing e-mail you receive from Accenture,
        we will also use a cookie to log what pages you view and what content
        you download from our websites, even if you are not registered at or
        signed into our site.
      </p>
      <p class="features-text mb-5">
        Combining and analyzing personal data – As described above, we may
        combine data from publicly available sources, and from our different
        e-mail, website, and personal interactions with you (this includes
        information collected across our different websites such as our careers
        and corporate sites and information collected when you sign-up or log on
        to our sites or connect to our sites using your social media credentials
        (such as LinkedIn). We combine this data to better assess your
        experience with Accenture and to perform the other activities described
        throughout our privacy policy.
      </p>
      <h4 class="subHeading text-left">
        Do you use any cookies from third party companies?
      </h4>
      <p class="features-text my-5">
        Some cookies, web beacons and other tracking and storage technologies
        that we use are from third party companies (third party cookies), such
        as Facebook, Microsoft, Marketo Munchkin Tracking, Twitter, Knotch,
        YouTube, Instagram, Yoptima and Linkedin Analytics to provide us with
        web analytics and intelligence about our sites which may also be used to
        provide measurement services and target ads. These companies use
        programming code to collect information about your interaction with our
        sites, such as the pages you visit, the links you click on and how long
        you are on our sites. This code is only active while you are on an
        Accenture website. For more information on how these companies collect
        and use information on our behalf, please refer to their privacy
        policies: Facebook at Facebook
        <a href="https://www.facebook.com/policy.php">Data Policy </a>Google
        (including YouTube) at
        <a href="https://www.google.com/intl/en/policies/"
          >Google Privacy & Terms</a
        >
        , Microsoft at
        <a href="https://privacy.microsoft.com/en-us/privacystatement"
          >Microsoft Privacy Statement</a
        >, Marketo at
        <a href="https://www.marketo.com/trust/legal/privacy/"
          >Marketo Privacy Policy</a
        >
        , Linkedin at
        <a href="https://www.linkedin.com/legal/privacy-policy"
          >Linkedin Privacy Policy</a
        >, Twitter at
        <a href="https://twitter.com/en/privacy">Twitter Privacy Policy</a>,
        Knotch at
        <a href="https://knotch.com/privacy-policy/">Knotch Privacy Policy</a>,
        Instagram at
        <a href="https://help.instagram.com/519522125107875"
          >Instagram Data Policy</a
        >
        and Yoptima at
        <a href="https://yoptima.com/privacy/">Yoptima Privacy Policy</a>.
      </p>
      <h4 class="subHeading text-left">
        Does Digimaaya use any tracking technologies similar to cookies?
      </h4>
      <p class="features-text my-5">
        We may also use web beacons (including conversion pixels) or other
        technologies for similar purposes as above and we may include these on
        our sites, in marketing e-mail messages or our newsletter, affiliated
        websites, to determine whether messages have been opened and links
        clicked on. Web beacons do not place information on your device, but
        they may work in conjunction with cookies to monitor website activity.
        The information provided below about cookies also applies to web beacons
        and similar technologies. Conversion pixels are small codes located on a
        particular web page which are triggered when someone visits a page
        resulting in an increase in the conversion count.
      </p>
      <h4 class="subHeading text-left">
        What types of cookies does the site use?
      </h4>
      <p class="features-text my-5">
        The cookies used on Accenture sites have been categorized as per the
        table below. However, it is important to note that not all cookies may
        be used in all jurisdictions or websites. A list of the categories of
        cookies used on this website is set out below.
      </p>
      <div class="cookieTypesSection">
        <table>
          <tbody>
            <tr>
              <th>Category</th>
              <th>Description</th>
            </tr>
            <tr>
              <td> Strictly Necessary cookies </td>
              <td>
                These cookies are essential in order to enable you to move
                around the site and use its features, such as accessing secure
                areas of the site. Without these cookies, services you have
                asked for cannot be provided.
              </td>
            </tr>
            <tr>
              <td> First party analytics cookies </td>
              <td>
                These cookies allow us to employ data analytics so we can
                measure and improve the performance of our site and provide more
                relevant content to you. These cookies don't collect information
                that identifies a visitor down to an individual level that is
                available to us. These cookies are not passing personally
                identifiable information to any external third party other than
                in limited cases when we engage a service provider to act on our
                behalf but who is then unable to use the data for their own
                purposes. These include, Adobe’s Analytics, Target and Audience
                Manager; Contentsquare and Demandbase.
              </td>
            </tr>
            <tr>
              <td>Performance cookies </td>
              <td>
                Performance cookies are generally third-party cookies from
                vendors we work with or who work on our behalf that collect
                information about your visit and use of the Accenture website,
                for instance which pages you visit the most often, and if you
                get error messages from web pages. These cookies don't collect
                information that identifies a visitor. All information these
                cookies collect is anonymous and is only used to improve how the
                website works. Third party vendors may have access to this data
                and may use it to improve their overall services and offerings.
              </td>
            </tr>
            <tr>
              <td> Functionality cookies </td>
              <td>
                These cookies allow a site to remember choices you make (such as
                your username, language or the region you are in) and provide
                more enhanced, personal features. These cookies cannot track
                your browsing activity on other websites. They don’t gather any
                information about you that could be used for advertising or
                remembering where you’ve been on the Internet outside our site.
              </td>
            </tr>
            <tr>
              <td>Advertising and social media cookies </td>
              <td>
                Advertising and social media cookies (including web beacons and
                other tracking and storage technologies) are used to (1) deliver
                advertisements more relevant to you and your interests; (2)
                limit the number of times you see an advertisement; (3) help
                measure the effectiveness of the advertising campaign; (4)
                retargeting to Accenture websites/information and (5) understand
                people’s behavior after they view an advertisement. They are
                usually placed on behalf of advertising networks with the site
                operator’s permission. They remember that you have visited a
                site and quite often they will be linked to site functionality
                provided by the other organization. This may impact the content
                and messages you see on other websites you visit.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
