<section class="mb-3">
  <div class="bg">

    <div class="d-flex head-title">
      <img src="./../../../assets/img//PIPTLE-ILO-sideicon.png" />
         <h1 class="page-title">
          {{'My Piptle Wallet' | translate}}
         </h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'My Total Issued Piptles' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">{{totalPiptles | currency}}</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
        <div class="mt-2">
          <button class="btn custom-draw-btn btn-block">{{'LINKWALLETS' | translate}}</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'My Available Piptles' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">{{availablePiptles | currency}}</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
        <div class="pptl-btns d-flex justify-content-between mt-2">
          <button class="btn custom-small-btn">{{'SENDTEXT' | translate}}</button>
          <button class="btn custom-small-btn">{{'RECIEVETEXT' | translate}}</button>
          <button class="btn custom-small-btn">{{'STAKETEXT' | translate}}</button>

        </div>
      </div>
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'My Locked Piptles' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">{{lockedPiptles | currency}}</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
        <div class="mt-2">
          <button class="btn btn-block custom-draw-btn">{{'SCHEDULETEXT' | translate}}</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'My Staked Piptles' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">{{stakedPiptles | currency}}</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
        <div class="mt-2">
          <button class="btn custom-draw-btn btn-block">{{'Withdraw' | translate}}</button>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-2">
      <div class="col-md-3">
        <button class="btn btn-block custom-draw-btn">{{'LINKWALLETS' | translate}}</button>
      </div>
      <div class="col-md-1">
        <button class="btn custom-small-btn">{{'SENDTEXT' | translate}}</button>
      </div>
      <div class="col-md-1">
        <button class="btn custom-small-btn">{{'RECIEVETEXT' | translate}}</button>
      </div>
      <div class="col-md-1">
        <button class="btn custom-small-btn">{{'STAKETEXT' | translate}}</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block custom-draw-btn">{{'SCHEDULETEXT' | translate}}</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block custom-draw-btn">{{'Withdraw' | translate}}</button>
      </div>

    </div> -->
  </div>


  <div class=" mt-3 bg">

    <div class="d-flex head-title">
      <img src="./../../../assets/img/PIPTLE-DOLLAR-ICON.png" />
         <h1 class="page-title">
          {{'Total Piptles Earned' | translate}}
         </h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'Referral Bonuses' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">2000</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'ACTIVITY BONUSES' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">2000</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'Staking Bonuses' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">2000</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner-w-box">
          <div class="d-flex flex-column">
            <p class="wallet-inner-t">{{ 'MERCHANT BONUSES' | translate }}</p>
            <div class="d-flex justify-content-center wallet-cards" >
              <p class="wallet-val">2000</p>
              <p class="wallet-puc ml-2">PPTL</p>
            </div>

          </div>
        </div>
      </div>
     
    </div>
  </div>
</section>


<section class="myWallet-section">
  <div id="snackbar"></div>
  <div class="background">
    <!-- <div class="mywallet-head">
      <h1 class="page-title abs-top">{{'My Piptle Wallet' | translate}}</h1>
    </div> -->
    <div class="piptle-wallet">
      <!-- <div class="row">
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'My Total Issued Piptles' | translate }}
              </span>
              <span class="color-pulper">
                2000 PUC
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'My Available Piptles' | translate }}
              </span>
              <span class="color-pulper">
                2,000 PUC
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md 4 mb-3">
          <button class="btn withdraw-btn">{{'Withdraw' | translate}}</button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'My Locked Piptles' | translate }}
              </span>
              <span class="color-pulper">
                2000 PUC
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'My Staked Piptles' | translate }}
              </span>
              <span class="color-pulper">
                2,000 PUC
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md 4 mb-3">
          <button class="btn withdraw-btn">{{'Withdraw' | translate}}</button>
        </div>
      </div>

      <div class="mywallet-head">
        <h1 class="page-title abs-top">{{'Total Piptles Earned' | translate}}</h1>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'Referral Bonuses' | translate }}
              </span>
              <span class="color-pulper">
                2000 PUC
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'Community Awarded' | translate }}
              </span>
              <span class="color-pulper">
                2,000 PUC
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'Staking Bonuses' | translate }}
              </span>
              <span class="color-pulper">
                2,000 PUC
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md 4 mb-3">
          <div class="background-white">
            <div class="card-content">
              <span class="head color-green">
                {{ 'Merchant Rewards' | translate }}
              </span>
              <span class="color-pulper">
                2,000 PUC
              </span>
            </div>

          </div>
        </div>
      </div> -->

      <div class="piptel-transaction-history ">
        <div class="header header-whte">
          <p class="transaction-txt">{{'YOUR PIPTLES TRANSACTION HISTORY' | translate}}</p>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{'Date' | translate}}</th>
                  <th>Transaction</th>
                  <th>{{'Description' | translate}}</th>
                  <th>PPTL Tokens</th>
                  <th>PPTL Value (AUD)</th>
                  <th>Wallet</th>
                  <th>{{'Action' | translate}}</th>

                  <!-- <th>{{'Wallet Transferred from' | translate}}</th>
                  <th>{{'Amount Debited' | translate}}</th>
                  <th>{{'Wallet transferred to' | translate}}</th> -->
                </tr>
              </thead>
              <tbody>
                <tr class="bg-lght">
                  <td>20/11/2020</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>


                </tr>
                <tr >
                  <td>20/11/2020</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>

                </tr>
                <tr>
                  <td>20/11/2020</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>
                  <td>sample only</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>