@import "../../../_variables";

.error {
  font-size: 12px;
  color: red;
  text-align: right;
  height: 0;
}

.signup-loader .cssload-thecube {
  width: 32px !important;
  height: 32px !important;
}

@media screen and (max-width: 1400px) {
  .forgot-wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 1050px) {
  .forgot-wrapper {
    width: 80%;
  }
}
