@import '../../../variables';

.email-strong {
  color: #20292f;
  font-weight: 700;
}

.verify-text {
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #20292f;
  font-family: 'LatoWebLight';
}

option:first-child {
  display: none;
}

.codearea {
  background: transparent;
  padding: 0 10px;
}

.error {
  font-size: 12px;
  color: red;
  text-align: right;
  height: 0;
}

.signup-loader .cssload-thecube {
  width: 32px !important;
  height: 32px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
select {
  text-align-last: center;
}

.required-asterisk {
  color: red;
  font-size: 18px;
}
