<section class="aff-sec">
    <div class="aff-wrap">
        <div class="aff-back">
            <h1 class="page-title">{{'Referral Program' | translate}}</h1>


            <div class="row1">
                <div class="row">
                    <div class="col-lg-6 right-7">
                        <div class="white-back">
                            <div class="pos-rltv">

                                <div class="pos-left">
                                    <h6 class="aff-h2">{{'Discription' | translate}}

                                    </h6>

                                </div>


                            </div>
                            <div class="clear"></div>
                            <div>
                                <p class="aff-p1">
                                    {{ 'Every user will earn 2% of the investment of their referrals using their code' | translate}}
                                </p>
                            </div>


                            <hr class="saperator" />

                            <!-- <div class="pos-rltv negate-margin">

                                <h6 class="aff-h2 some-extra-margin">select commission type</h6>
                                <div class="checksimg ">
                                    <div class="pos-rltv">
                                        <div class="pos-left2">
                                            <p class="checkp">
                                                <input type="radio" name="cpaRevenue" class='v-checkbox' id="test1" (change)="cpaActionClick()" />
                                                <label for="test1">CPA ( Cost per action ) - 5% in Cash or Crypto or 7% in
                                                    Tokens </label>
                                            </p>
                                            <p class="checkp pad-btm">
                                                <input type="radio" name="cpaRevenue" class='v-checkbox' id="test2" (change)="revenueActionClick()" />
                                                <label for="test2">REVENUE SHARE - 25% of fee</label>
                                            </p>

                                        </div>
                                        <div class="pos-left3">

                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div> -->

                            <div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-xs-12 padding-change">
                                        <p class="aff-link">{{'Your Referral link:'| translate}}</p>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-xs-12 padding-change2">
                                        <input id="aff-link-1" class="aff-link-in" type="text" readonly value="{{affiliateLink}}">
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-12 padding-change centering-btn">
                                        <button class="copy-af-link" (click)="copyToClipboard('aff-link-1')">


                                            <p class="p-15 copy-add">
                                                <i class="far fa-copy"></i>

                                            </p>


                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-3 col-md-3 col-xs-12 padding-change">
                                            <p class="aff-link">{{ 'Your Referral Code:' | translate}}</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-xs-12 padding-change2">
                                            <input id="aff-code-1" class="aff-link-in" type="text" readonly value="{{affiliateCode}}">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-12 padding-change centering-btn">
                                            <button class="copy-af-link" (click)="copyToClipboard('aff-code-1')">
    
    
                                                <p class="p-15 copy-add">
                                                    <i class="far fa-copy"></i>
    
                                                </p>
    
    
                                            </button>
                                        </div>
                                    </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 left-7">
                        <div class="white-back no-padding">

                            <div class="pos-rltv p-20">

                                <div class="pos-left">
                                    <h6 class="aff-h2">{{'TOP REFER EARNERS' | translate}}

                                    </h6>
                                </div>



                            </div>

                            <div class="table-responsive">


                                <p class="no-record" *ngIf="noTopAffilliates">No Data Found</p>

                                <table class="table table-striped top-aff" *ngIf="!noTopAffilliates">

                                    <tbody>

                                        <tr *ngFor="let referral of topReferrals">
                                            <td>
                                                <p class="earners-name">{{referral?.Name}}</p>
                                            </td>

                                            <td>
                                                <p class="earnings">{{referral?.AmountInUsd  | currency:'crypto'}} PPTL </p>
                                                <div class="progress-table-wrap">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style.width.%]="referral.percentage">

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>

                                </table>


                            </div>


                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 d-md-block d-lg-none d-xl-none left-7">



                        <div class="height-div">
                            <div class="white-back2">
                                <div class="pos-rltv">

                                    <div class="pos-left">
                                        <h6 class="aff-h2">my affiliates

                                        </h6>

                                    </div>


                                </div>
                                <div class="clear"></div>

                                <div class="topp">
                                    <div class="table-responsive">
                                        <p class="no-record" *ngIf="noMyAffilliates">No Data Found</p>
                                        <table class="table my-tbl table-striped" *ngIf="!noMyAffilliates">
                                            <thead>
                                                <tr>
                                                    <td>

                                                        <p class="top-aff-th left-aligned">Name</p>


                                                    </td>
                                                    <td>

                                                        <p class="top-aff-th  center-aligned">time</p>


                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody class="">

                                                <tr *ngFor="let affiliate of myAffilliates">
                                                    <td class="text-capitalize">{{affiliate?.UserName}}</td>
                                                    <td class="center-aligned">{{affiliate?.CreatedOnUTC}} </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>




                            </div>

                            <div>
                                <img class="tbl-img" src="../../../assets/img/tbl-img.png">
                            </div>


                        </div>


                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">

                    <div class="all-white">


                        <div class="pos-rltv heading-left">

                            <div class="aff-earnings">

                                <h6>{{'REFER EARNINGS' | translate}}

                                </h6>

                            </div>


                        </div>


                        <div class="download-csv" *ngIf="!noAffiliateEarners">
                            <div class="heading-right right-aligned" (click)="downloadCSV()">
                                <h1 class="download-csv">{{'Download as' | translate}} CSV
                                    <span class="download-image">
                                        <svg width="10px" height="12px" viewBox="0 0 10 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                                            <defs></defs>
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="Buy-tokens" transform="translate(-1020.000000, -856.000000)" fill="#2097D4">
                                                    <g id="Activity" transform="translate(277.000000, 820.000000)">
                                                        <path d="M753,40.2355536 L750.143495,40.2355536 L750.143495,36 L745.856505,36 L745.856505,40.2355536 L743,40.2355536 L748.002232,45.1733569 L753,40.2355536 Z M743,48 L753,48 L753,46.5866784 L743,46.5866784 L743,48 Z"
                                                            id="download-button"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                </h1>
                            </div>
                        </div>


                        <div class="clear"></div>



                        <div class="table-responsive aff-earners-div">

                            <p class="no-record" *ngIf="noAffiliateEarners">{{'No Refer Earners!' | translate}}</p>


                            <table class="table table-striped affiliates-detail" *ngIf="!noAffiliateEarners">

                                <thead>
                                    <tr>


                                        <td class="text-uppercase">
                                            <p>{{'Currency' | translate}}</p>
                                        </td>
                                        <td class="text-uppercase text-right">
                                            <p>{{'AMOUNT CONTRIBUTED' | translate}}</p>
                                        </td>
                                        <!-- <td class="text-uppercase text-right">
                                            <p>{{'AMOUNT INVESTED IN MXN' | translate}}</p>
                                        </td> -->
                                        <td class="text-uppercase text-left">
                                            <p>{{'USERNAME' | translate}}</p>
                                        </td>
                                        <td class="text-uppercase text-left">
                                            <p>{{'TIME' | translate}}</p>
                                        </td>
                                        <!-- <td class="text-uppercase text-right">
                                            <p>{{'EARNING IN MXN' | translate}} (2%)</p>
                                        </td> -->
                                        <td class="text-uppercase text-right">
                                            <p>{{'EARNING IN FRU' | translate}} (2%)</p>
                                        </td>


                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let affiliate of totalAffiliatesArray">

                                        <td class="img-width-table v-middle text-center">

                                            <div class="coin-image">
                                                <img *ngIf="affiliate.CurrencyType=='USD'" src="../../../assets/img/dollar-icon-green.png" alt="dollar-icon">
                                                <img *ngIf="affiliate.CurrencyType=='MXN'" src="../../../assets/img/dollar-icon.png" alt="mxn-icon">
                                                <img *ngIf="affiliate.CurrencyType=='LTC'" src="../../../assets/img/ltc-left.png" alt="ltc-icon">
                                                <img *ngIf="affiliate.CurrencyType=='BTC'" style="width: 30px" src="../../../assets/img/btc-left.png" alt="btc-icon">
                                                <img *ngIf="affiliate.CurrencyType=='ETH'" src="../../../assets/img/eth-left.png" alt="eth-icon">
                                                <img style="padding-top: 12px;" *ngIf="affiliate.CurrencyType=='FRU'" src="../../../assets/img/fav.png" alt="xchge-icon">

                                            </div>



                                        </td>

                                        <td class="text-uppercase text-right">
                                            <p class="amounts-text">{{affiliate.CryptoReceived  | currency:'crypto'}}</p>
                                        </td>

                                        <!-- <td class="text-uppercase text-right">
                                            <p class="amounts-text">${{affiliate.AmountInMexican}}</p>
                                        </td> -->

                                        <td class="text-left">
                                            <p class="amounts-text">{{affiliate.Name}}</p>
                                        </td>

                                        <td class="text-left">
                                            <p class="amounts-text">{{affiliate.Date}}</p>
                                        </td>

                                        <!-- <td class="text-right">
                                            <p class="amounts-text-black">{{affiliate.EarningInMexican}} MXN</p>
                                        </td> -->

                                        <td class="text-right">
                                            <p class="amounts-text-black">{{affiliate.EarningInFru  | currency:'crypto'}} FRU</p>
                                        </td>

                                    </tr>



                                </tbody>



                            </table>



                            <div class='pagination-table clearfix' *ngIf="affiliateEarningsPageSize < totalAffiliateEarningsRecords">

                                <ul class="no-visibility">
                                    <li *ngFor="let item of totalAffiliatesArray | paginate: { itemsPerPage: affiliateEarningsPageSize, currentPage: affiliateEarningsPageNumber, totalItems: totalAffiliateEarningsRecords }">{{item}}</li>
                                </ul>

                                <pagination-controls responsive="true" previousLabel="" nextLabel="" (pageChange)="changePageNumber($event)"></pagination-controls>

                            </div>


                        </div>

                        <div class="bg-table clearfix">


                            <ul class="clearfix total-row">

                                <li>
                                    <p class="total-head">{{'Total'|translate}} :</p>
                                </li>

                                <!-- <li>
                                    <p class="total-values">$ {{totalEarningInUSD  | currency:'fait'}}</p>
                                </li> -->

                                <li>
                                    <p class="total-values">{{totalEarningInCrypto  | currency:'crypto'}} PPTL </p>
                                </li>

                            </ul>


                        </div>


                    </div>

                </div>


            </div>

            <div class="row">

                <div class="col-md-8 col-lg-8 col-sm-7 col-xs-12">

                    <div class="graph-wrapper">

                        <div class="graph-loader" id="graphLoader">
                            <div class="center-loader">
                                <svg class="lds-comets" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                    <g transform="rotate(208.756 50 50)">
                                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="360 50 50;0 50 50" keyTimes="0;1"
                                            dur="2.3s" keySplines="0.5 0.5 0.5 0.5" calcMode="spline"></animateTransform>
                                        <path fill="#85ffbd" d="M91,74.1C75.6,98,40.7,102.4,21.2,81c11,9.9,26.8,13.5,40.8,8.7c7.4-2.5,13.9-7.2,18.7-13.3 c1.8-2.3,3.5-7.6,6.7-8C90.5,67.9,92.7,71.5,91,74.1z"></path>
                                        <path fill="#316598" d="M50.7,5c-4,0.2-4.9,5.9-1.1,7.3c1.8,0.6,4.1,0.1,5.9,0.3c2.1,0.1,4.3,0.5,6.4,0.9c5.8,1.4,11.3,4,16,7.8 C89.8,31.1,95.2,47,92,62c4.2-13.1,1.6-27.5-6.4-38.7c-3.4-4.7-7.8-8.7-12.7-11.7C66.6,7.8,58.2,4.6,50.7,5z"></path>
                                        <path fill="#a4bcc2" d="M30.9,13.4C12,22.7,2.1,44.2,7.6,64.8c0.8,3.2,3.8,14.9,9.3,10.5c2.4-2,1.1-4.4-0.2-6.6 c-1.7-3-3.1-6.2-4-9.5C10.6,51,11.1,41.9,14.4,34c4.7-11.5,14.1-19.7,25.8-23.8C37,11,33.9,11.9,30.9,13.4z"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>


                        <div class="posReltv">
                            <div class="row">

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <p class="aff-h2">
                                        {{'REVENUE FROM THE REFERRAL FOR THE RESPECTIVE USERS' | translate}}
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12  scndHlf">
                                    <div class="rytAlgnmnt">
                                        <label class="marryt20">
                                            {{'Show' | translate}}:
                                        </label>
                                        <ul class="affiliate-graph-ul">

                                            <li class="affiliate-active-li" (click)="getGraphByFilter('DAY')">
                                                {{ 'DAYS' | translate}}
                                            </li>
                                            <li class="" (click)="getGraphByFilter('WEEK')">
                                                {{ 'WEEKS' | translate}}
                                            </li>
                                            <li class="" (click)="getGraphByFilter('MONTH')">
                                                {{ 'MONTHS' | translate}}
                                            </li>
                                        </ul>
                                    </div>



                                </div>



                            </div>

                            <div class="relative" *ngIf="noGraphData">
                                <p class="no-data">{{'NO DATA FOUND' | translate}}</p>
                            </div>


                            <div class="graph-div" *ngIf="!noGraphData">


                                <div class="">
                                    <p class="affiliate-chart-lft-lbl">
                                        {{ 'EARNING' | translate}} ($)
                                    </p>
                                </div>

                             
                                    <canvas id="aff-chart" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                                    [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                             
                              
                                <p class="affiliate-chart-btm-lbl">
                                    {{ 'TIME' | translate}}
                                </p>

                            </div>



                        </div>

                    </div>


                </div>


                <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12">


                    <div class="height-div">
                        <div class="white-back2">
                            <div class="pos-rltv">

                                <div class="pos-left">
                                    <h6 class="aff-h2">{{'MY REFERRALS' | translate}}

                                    </h6>

                                </div>


                            </div>
                            <div class="clear"></div>

                            <div class="topp">
                                <div class="table-responsive">
                                    <p class="no-record" *ngIf="noMyAffilliates">{{ 'No Data Found' | translate}}</p>
                                    <table class="table my-tbl table-striped" *ngIf="!noMyAffilliates">
                                        <thead>
                                            <tr>
                                                <td>

                                                    <p class="top-aff-th left-aligned">{{'Name' | translate}}</p>


                                                </td>
                                                <td>

                                                    <p class="top-aff-th left-aligned">{{'Time' | translate}}</p>


                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody class="">

                                            <tr *ngFor="let affiliate of myAffilliates">
                                                <td class="text-capitalize blue-text" style="text-align: left !important">{{affiliate?.UserName}}</td>
                                                <td class="text-capitalize blue-text" style="text-align: left !important">{{affiliate?.CreatedOnUTC}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                                <div class='pagination-bottom'>

                                    <ul class="no-visibility">
                                        <li *ngFor="let item of myAffilliates | paginate: { itemsPerPage: myAffiliatesPageSize, currentPage: myAffiliatesPageNumber, totalItems: totalAffiliatesForUser }">{{item}}</li>
                                    </ul>

                                    <pagination-controls *ngIf="myAffiliatesPageSize < totalAffiliatesForUser" responsive="true" previousLabel="" nextLabel=""
                                        (pageChange)="changePageNumberForMyAffiliates($event)"></pagination-controls>




                                </div>

                                <div class="clear"></div>

                            </div>




                        </div>




                    </div>


                </div>


            </div>

            <div class="row2">
                <div class="row">

                    <!-- <div class="col-lg-6 ">    d-md-none d-sm-none d-xs-none d-lg-block d-none left-7
                    
                        <div class="height-div">
                            <div class="white-back2">
                                <div class="pos-rltv">

                                    <div class="pos-left">
                                        <h6 class="aff-h2">My Referrals

                                        </h6>

                                    </div>


                                </div>
                                <div class="clear"></div>

                                <div class="topp">
                                    <div class="table-responsive">
                                        <p class="no-record" *ngIf="noMyAffilliates">No Data Found</p>
                                        <table class="table my-tbl table-striped" *ngIf="!noMyAffilliates">
                                            <thead>
                                                <tr>
                                                    <td>

                                                        <p class="top-aff-th left-aligned">Name</p>


                                                    </td>
                                                    <td>

                                                        <p class="top-aff-th  center-aligned">time</p>


                                                    </td>
                                                    <td>

                                                        <p class="top-aff-th center-aligned">bonus</p>

                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody class="">

                                                <tr *ngFor="let affiliate of myAffilliates">
                                                    <td class="text-capitalize">{{affiliate?.Name}}</td>
                                                    <td class="center-aligned">{{affiliate?.Date}} </td>
                                                    <td class="text-uppercase center-aligned">$ {{affiliate?.AmountInUsd}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>




                            </div>

                            <div>
                                <img class="tbl-img" src="../../../assets/img/my affiliates bg.png">
                            </div>


                        </div>
                    </div> -->
                </div>
            </div>


        </div>
    </div>
</section>