@import '../../../_variables';
$ico-view-height: 190px;
$ico-total-text: 18px;
$theme-blue: $dashboard-purple-clr;
$ico-font: 26px;

.aff-head {
  color: #26497b;
  text-transform: uppercase;
  font-family: 'LatoWebMedium';
  margin: 0px !important;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-weight: 600;
}
.aff-sec {
  background-color: white;
  padding: 20px;
}
.referral-pd {
  padding: 2rem 20px !important;
}

.white-back {
  background-color: #f6f6f6;
  padding: 13px 20px;
  height: auto;
  border-radius: 8px;
  min-height: 100%;
  overflow-y: auto;
  max-height: 280px;
  @media (min-width: 1200px) and (max-width: 1350px) {
    height: auto;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .checksimg2,
  .checksimg {
    height: 100px !important;
    min-height: 100px !important;
  }
  .v-checkbox:not(:checked) + label,
  .v-checkbox:checked + label {
    font-size: 11px !important;
  }
  .pos-left2 {
    width: 45% !important;
  }
  .pos-left3 {
    width: 55% !important;
  }
}

@media (min-width: 1700px) and (max-width: 1777px) {
  .v-checkbox:not(:checked) + label,
  .v-checkbox:checked + label {
    font-size: 15px !important;
  }
  .checkp {
    height: 50px;
    min-height: 50px;
  }
}

@media (min-width: 1800px) and (max-width: 2500px) {
  .v-checkbox:not(:checked) + label,
  .v-checkbox:checked + label {
    font-size: 15px !important;
  }
  .checkp {
    height: 50px;
    min-height: 50px;
  }
}

.white-back2 {
  background-color: #f9f9f9;
  // padding: 20px;
  padding: 17px;
  margin-top: 20px;
  border-radius: 8px;
}
@media screen and (max-width: 990px) {
  .white-back {
    margin-top: 20px;
  }
}

.aff-h2 {
  font-family: 'Calibri';
  color: #191919;
  font-size: 16px !important;
  margin: 0px !important;
  padding-bottom: 20px;
  font-weight: 600;
}

.small--crypt {
  color: #1d2939;
  font-family: 'LatoWebLight';
  font-size: 14px;
  line-height: 21px;
}

.aff-h3 {
  text-transform: uppercase;
  font-family: 'LatoWeb';
  color: #1d2939;
  font-size: 14px;
  font-weight: 600;
  margin: 0px !important;
  padding-bottom: 3px;
}

.saperator {
  border-top: 3px solid #f6f6f6;
  margin: 20px 0;
}

.heading-left {
  position: relative;
  float: left;
}

.heading-right {
  position: relative;
  float: right;
  padding: 20px;
  cursor: pointer;
}

.download-csv {
  color: #191919;
  font-family: 'Calibri';
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  font-weight: 700;
}

.aff-p1 {
  color: $dashboard-purple-clr;
  padding-right: 30px;
  font-family: 'LatoWebMedium';
  font-size: 14px !important;
  font-weight: 500;
}
.pos-rltv {
  position: relative;
}
.pos-left {
  position: relative;
  float: left;
}

.checksimg {
  width: 100%;
  background-color: #2097d4;
  height: 110px;
  min-height: 110px;
  padding-top: 8px;
}
.pos-left2 {
  position: relative;
  float: left;
  z-index: 2;
  width: 100%;
}
.pos-left3 {
  /*   position: relative;
    float: left;
    width: 60%; */
  position: absolute;
  right: 0;
  z-index: 0;
}
.checksimg2 {
  width: 100%;
  height: 110px;
  min-height: 110px;
  object-fit: contain;
}
/* Base for label styling */
.v-checkbox:not(:checked),
.v-checkbox:checked {
  position: absolute;
  left: -9999px;
}
.v-checkbox:not(:checked) + label,
.v-checkbox:checked + label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  font-family: 'LatoWebLight';
  padding-top: 5px;
  color: #fff;
  font-size: 14px;
}

/* checkbox aspect */
.v-checkbox:not(:checked) + label:before,
.v-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: #fff;
  box-shadow: none;
  border-radius: 0px;
}

/* checked mark aspect */
.v-checkbox:not(:checked) + label:after,
.v-checkbox:checked + label:after {
  content: '\2713';
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 22px;
  line-height: 0.8;
  color: #333;
  transition: all 0.2s;
  font-family: 'LatoWebMedium' !important;
}

/* checked mark aspect changes */
.v-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.v-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkp {
  margin: 0px !important;
  padding-top: 7px;
  padding-left: 15px;
}
label:hover:before {
  border: none !important;
}
.btm-marg {
  padding-bottom: 12px;
}
.pad-btm {
  padding-bottom: 2px;
}
.aff-link {
  font-family: 'Calibri';
  padding: 20px 0 0 0;
  font-size: 16px;
  color: #191919;
}

.some-extra-margin {
  margin: 0 20px !important;
}

.negate-margin {
  margin-left: -20px;
  margin-right: -20px;
}
.aff-link-in {
  background-color: #ffffff;
  color: #11111399;
  padding: 14px 12px;
  border: 2px solid #11111333;
  width: 95%;
  font-size: 16px;
  font-family: 'Calibri';
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 8px;
}
.arrow-blue {
  width: 19px;
  margin-top: -1px;
  margin-right: 10px;
}

.padding-change2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.p-15 {
  padding-top: 15px;
}
.copy-add {
  // color: #2097d4;
  color: $dashboard-purple-clr;
  text-transform: uppercase;
  font-family: 'LatoWebSemibold';
  font-size: 13px;
  i {
    font-size: 22px;
    padding-top: 1px;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}
.top-gap {
  padding-top: 10px;
  padding-bottom: 30px;
}

.no-padding {
  padding: 0;
}

.p-20 {
  padding: 20px;
}

.copy-af-link {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.right-7 {
  padding-right: 7px;
  @media (max-width: 992px) {
    padding-right: 15px;
  }
}

.left-7 {
  padding-left: 7px;
  @media (max-width: 992px) {
    padding-left: 15px;
  }
}

.top-aff {
  margin-top: 15px;

  tr:nth-child(odd) {
    td .progress-bar {
      border-right: 6px solid #f9f9f9;
      border-top: 8px solid transparent;
      // background-color: #52BDEB;
      background-color: $dashboard-purple-clr;
    }
  }

  tr:nth-child(even) {
    td .progress-bar {
      border-right: 6px solid #fff;
      border-top: 8px solid transparent;
      // background-color: #7DE2D6;
      background-color: $dashboard-purple-clr;
    }
  }

  table-layout: fixed;

  @media (max-width: 640px) {
    table-layout: auto;
  }
  tr td {
    padding: 15px 20px;
    vertical-align: middle;
    border: none;

    @media (max-width: 768px) {
      padding: 21px;
    }
  }
}

.no-record {
  color: #191919;
  font-size: 16px;
  text-align: center;

  font-family: 'Calibri';
  &.top-20-promoters-text {
    margin-top: 15%;
  }
}

/*
.......top earners........
*/

.table-row-earner {
  margin-top: 2rem;
  width: 95%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.row-top {
  padding-top: 100px;
}
.earners-name {
  text-transform: uppercase;
  // color: $theme-blue;
  color: $dashboard-purple-clr;
  font-family: 'LatoWebMedium';
  font-size: 14px;
  margin: 0;
}
.earnings {
  font-size: 14px;
  margin: 0px !important;
  // color: $theme-blue;
  color: $dashboard-purple-clr;
  font-family: 'LatoWeb';
}
.liness {
  margin-top: -20px;
}
@media (max-width: 991px) {
  .liness {
    display: none;
  }
}
.eline1 {
  width: 100%;
}
.eline2 {
  width: 85%;
}
.eline3 {
  width: 65%;
}
.eline4 {
  width: 35%;
}
.eline5 {
  width: 25%;
}
.height-div {
  height: auto;
  background: #f9f9f9;
  border-radius: 8px;
}
@media (max-width: 991px) {
  .height-div {
    margin-bottom: 20px;
  }
}
.topp {
  padding-top: 10px;
}
.gap-blw {
  padding-bottom: 18px;

  @media (min-width: 1400px) and (max-width: 1500px) {
    width: 110px;
  }

  @media (max-width: 640px) {
    width: 150px;
  }
}
.rects {
  width: 100%;
  height: 35px;
}

.top-aff-th {
  color: #191919;
  font-family: 'Calibri';
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.left-aligned {
  text-align: left;
}

.center-aligned {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

@media (max-width: 991px) {
  .bonus,
  .time {
    text-indent: 15px;
  }
}
.my-tbl {
  margin-bottom: 15px;
  overflow-y: scroll;
  white-space: nowrap;
}
.relative {
  position: relative;
  min-height: 150px;
}
.my-tbl td {
  border-top: none !important;
  color: #191919;
  font-family: 'Calibri';
  font-size: 14px;
  line-height: 40px;
  padding: 7px 10px;
  font-weight: 600;

  @media (max-width: 1600px) {
    font-size: 12px;
  }
}
.tbl-img {
  width: 100%;

  object-fit: cover;
}
.pd-btmm {
  padding-bottom: 0px !important;
}
.height-div2 {
  height: 500px;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .aff-h3 {
    font-size: 11px;
  }
  .aff-wrap {
    margin-left: 0px;
  }
  .pad-left {
    padding-left: 15px !important;
  }
  .pad-rit {
    padding-right: 15px !important;
  }
  .faq-points-div {
    width: 82%;
  }
  .dbl-arr-rotate {
    width: 40px;
  }
  .row2 {
    margin-top: 0px;
  }
  .pd-btmm {
    margin-top: 20px;
  }
  .aff-p1 {
    padding-right: 0px;
  }
  .mbl-line-none {
    display: none;
  }
  .checksimg2 {
    display: none;
  }
  .pos-left2 {
    width: 100%;
  }
}

@media only screen and (min-width: 361px) and (max-width: 767px) {
  .aff-wrap {
    margin-left: 0px;
  }
  .pad-left {
    padding-left: 15px !important;
    max-width: 100% !important;
  }
  .pad-rit {
    padding-right: 15px !important;
    max-width: 100% !important;
  }
  .faq-points-div {
    width: 82%;
  }
  .dbl-arr-rotate {
    width: 40px;
  }
  .row2 {
    margin-top: 0px;
  }
  .pd-btmm {
    margin-top: 20px;
  }
  .aff-p1 {
    padding-right: 0px;
  }
  .aff-h3 {
    font-size: 11px;
  }
  .checksimg2 {
    display: none;
  }
  .pos-left2 {
    width: 100%;
  }
  .mbl-line-none {
    display: none;
  }
  .aff-h2 {
    font-size: 12px !important;
  }
  .eline1,
  .eline2,
  .eline3,
  .eline4,
  .eline5 {
    height: 7px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .mbl-line-none {
    display: none;
  }

  .white-back {
    height: auto;
  }

  .centering-btn {
    width: 300px;
    margin: 0 auto;
  }

  .bonus,
  .time {
    font-size: 12px;
    top: 8px;
  }

  .progress-table-wrap .progress {
    display: none;
  }

  .aff-h2 {
    font-size: 12px !important;
  }
  .aff-h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .top-gap {
    margin-bottom: 0 !important;
  }

  .pos-left2 {
    width: 40%;
  }
  .pos-left3 {
    width: 60%;
  }
  .aff-wrap {
    margin-left: 0px;
  }
  .topp {
    padding-top: 5px;
  }

  .my-tbl td {
    padding: 0px 5px;
    font-size: 12px;
  }
  .dbl-arr-rotate {
    width: 40px;
  }
  .faq-points {
    font-size: 14px;
  }
  .gap-blw {
    padding-bottom: 30px;
  }
  .tbl-img {
    height: 95px;
  }
  .earners-name {
    font-size: 11px;
    padding-top: 0;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1220px) {
  .v-checkbox:not(:checked) + label,
  .v-checkbox:checked + label {
    font-size: 14px;
  }
  .my-tbl td:last-child {
    text-align: center;
  }
  .mbl-line-none {
    display: none;
  }
  .earners-name {
    font-size: 11px;
  }
  .topp {
    padding-top: 10px;
  }
  .gap-blw {
    padding-bottom: 16px;
  }
  .my-tbl {
    white-space: nowrap;
    table-layout: fixed;
    width: 410px;
  }
  .my-tbl td {
    padding: 18px 5px;
  }
}

@media only screen and (min-width: 1221px) and (max-width: 1315px) {
  .topp {
    padding-top: 10px;
  }
  .gap-blw {
    padding-bottom: 18px;
  }
  .my-tbl td {
    padding: 8px 5px;
  }
}

@media only screen and (min-width: 1316px) and (max-width: 1365px) {
  .topp {
    padding-top: 10px;
  }
  .gap-blw {
    padding-bottom: 22px;
  }
  .my-tbl td {
    padding: 14px 5px;
  }
}

@media (max-width: 991px) {
  .white-back {
    height: auto;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .my-tbl td {
    text-align: center;
  }

  .center-abs-btns {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .my-tbl td:last-child {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .arrow-blue {
    display: block;
    margin: 0 auto;
    transform: rotate(90deg);
  }

  .top-gap {
    margin: 0;
  }

  .centering-btn {
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .progress-table-wrap .progress {
    display: none;
  }
}

.grey-bg {
  background: #eff1f3;
  margin-top: 15px;
  color: #1d2938;
  font-family: 'LatoWeb';
  font-size: 14px;
  padding-left: 15px;
  font-weight: 600;
  .faq-points {
    color: #1d2938;
  }
}

.show {
  display: block;
}

.faq-main-2 {
  background-color: white;
  padding: 20px;
  margin-bottom: 60px;
  padding-top: 0;

  .panel {
    background-color: #eff1f3;
    margin-top: -1px;
    padding-left: 15px;
    transition: all 0.6s;

    p {
      line-height: 26px;
    }
  }

  @media (max-width: 767px) {
    padding: 5px;
  }
}

.faq-main-2 {
  .active {
    background-color: #dfe6ec;

    p {
      color: #269ece;
    }
  }

  .arrow-faq-div {
    float: right;
    margin-right: 15px;
    width: 20px;

    .fas {
      color: #83bee6;
    }
  }
}

.v-middle {
  vertical-align: middle;
}

.img-width-table {
  width: 20px;
}

.coin-image {
  width: 25px;
  margin: 0 auto;
  img {
    width: 20px;
  }
}

.pagination-table {
  background-color: #f9f9f9;
}

.affiliates-detail > tbody > tr:nth-child(odd) > td,
.affiliates-detail > tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}

.affiliates-detail > tbody > tr:nth-child(even) > td,
.affiliates-detail > tbody > tr:nth-child(even) > th {
  background-color: transparent;
}

.aff-earnings {
  padding: 20px;
  h6 {
    color: #191919;
    font-family: 'Calibri';
    font-size: 24px;
    line-height: 24px;
  }
}

.all-white {
  background: #f6f6f6;
  margin-top: 20px;
}

.affiliates-detail {
  margin: 0;

  thead {
    tr {
      td {
        background: transparent;
        border: none;
        vertical-align: middle;
        p {
          font-family: 'Calibri';
          font-size: 16px;
          color: #191919;
          font-weight: 600;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border: none;
        padding: 23px 20px;
        vertical-align: middle;

        p.amounts-text {
          color: $theme-blue;
          font-family: 'LatoWeb';
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
        }

        p.amounts-text-black {
          color: $theme-blue;
          font-family: 'LatoWeb';
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
        }
      }
    }
  }

  tfoot {
    tr {
      td {
        padding: 23px 20px;
        color: #ffffff;
        font-family: 'LatoWeb';
        font-size: 16px;
        font-weight: 500;
        background-color: #2097d4;
        vertical-align: middle;

        p {
          margin-bottom: 0;
        }

        .light {
          font-family: 'LatoWebLight';
        }
      }
    }
  }

  .blug-bg {
    background-color: #2097d4;
    color: #2097d4;

    .amounts-text {
      color: #2097d4;
    }

    @media (max-width: 768px) {
      width: 0;
    }
  }

  .bg-table {
    background-color: $dashboard-purple-clr;
  }
}

.pagination-table {
  min-height: 60px;

  /deep/ .ngx-pagination {
    float: right;
    padding-top: 15px;
  }
}

.fixed-layout {
  table-layout: fixed;
}

.aff-earners-div {
  overflow-y: hidden;
}

.bg-table {
  background-color: #d9d9d9;
  .total-row {
    list-style-type: none;
    width: 40%;
    float: right;
    padding: 15px 0 0px 0;

    @media (max-width: 768px) {
      width: 90%;
      margin: 0 auto;
      float: none;
      padding: 15px 0 15px 0;
    }

    li {
      .total-head {
        color: #191919;
        font-family: 'Calibri';
        font-size: 24px;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        width: 100%;
        text-align: right;
        padding-top: 10px;
      }

      .total-values {
        color: #191919;
        font-family: 'Calibri';
        font-size: 24px;
        margin: 0;
        width: 100%;
        text-align: right;
        padding-right: 20px;
        font-weight: 800;
      }

      float: left;
      width: calc(100% / 2);
      list-style-type: none;
    }
  }
}

.affiliate-chart-btm-lbl {
  color: $dashboard-purple-clr;
  font-weight: 600;
  font-size: 13px;
}
.affiliate-chart-lft-lbl {
  color: $dashboard-purple-clr;
  font-weight: 600;
  font-size: 13px;
}
.posReltv {
  position: relative;
}
.affiliate-grph-heading {
  color: #616a75;
  font-size: 14px;
  font-weight: 700;
}

.affiliate-graph-ul {
  padding: 0;
  margin-top: -9px;
  // color: $theme-blue;
  color: $dashboard-purple-clr;
  li {
    list-style-type: none;
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 20px;
    text-align: center;
    cursor: pointer;

    @media (max-width: 1400px) {
      padding: 7px 12px;
    }

    @media (max-width: 1100px) and (min-width: 992px) {
      padding: 7px 6px;
      width: 33.33333%;
    }
  }
}

canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

.displyInlineFlex {
  display: inline-flex;
}
.scndHlf label {
  font-weight: 600;
  margin-top: -4px;
  color: $dashboard-purple-clr;
}
.marryt20 {
  margin-right: 20px;
  font-size: 16px;
  font-family: 'Calibri';
  color: #191919;
}
.rytAlgnmnt {
  float: right;
  display: inline-flex;
}
.affiliate-active-li {
  background: linear-gradient(
    to bottom right,
    $maaya-orange-dawn,
    $maaya-purple-dusk
  );
  color: white;
  font-family: 'Calibri';
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

.graph-wrapper {
  background: #f9f9f9;
  padding: 20px;
  position: relative;
  margin-top: 20px;
  border-radius: 8px;
}

.blue-text {
  color: $dashboard-purple-clr !important;
}

.graph-loader {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: rgba(126, 150, 163, 0.6);
  width: 100%;
  height: 100%;
  z-index: 20;

  .center-loader {
    width: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.affiliate-text-field {
  position: relative;
  .copy-link-section {
    position: absolute;
    top: 12px;
    right: -4px;
  }
}

.head-section {
  background-color: white;
  padding: 10px;
  margin-bottom: 1rem;
  .heading {
    img {
      border: 1px solid #d3d3d352;
      border-radius: 50px;
      width: 40px;
      height: 40px;
      padding: 5px;
      margin-right: 8px;
    }
    .page-title {
      // color: white;
      color: $dashboard-purple-clr;
    }
  }
  .top-left-ico-text {
    width: 100%;
  }
  .ico-top-text {
    color: #ffffff;
    text-align: start;
    font-family: 'Calibri';
    font-size: 16px;
  }
}

.ico-top-divs {
  margin-left: -15px;
}

.ico-top-divs {
  .no-right {
    @media (max-width: 992px) {
      padding-right: 15px;
    }
  }
}

.table-type {
  display: table;
  width: 100%;
  height: $ico-view-height;
}
.right-icon-stats {
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
  margin-right: 15px;
  height: $ico-view-height;
  text-align: left;
}
.left-stat-icon {
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
  height: $ico-view-height;
  text-align: center;

  img {
    max-width: 85%;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    img {
      width: 75px;
      padding-left: 15px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1350px) {
    img {
      width: 80px;
      padding-left: 15px;
    }
  }
}
.left-stat-icon img {
  opacity: 0.4;
}
.inner-box {
  height: 120px;
  margin-bottom: 15px;
  background: radial-gradient(
    107.63% 220.06% at 0.17% 0.51%,
    #ff7f2c 0%,
    #ff0082 100%
  );
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 992px) and (max-width: 1199px) {
    height: 140px;

    .left-stat-icon,
    .table-type,
    .right-icon-stats {
      height: 140px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .inner-box {
    height: 210px;
    position: relative;
    margin-bottom: 15px;
  }
}
.total-text {
  font-family: 'Calibri';
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  margin: 0;
  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 13px;
  }
}
.number {
  font-family: 'Calibri';
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  margin: 0;

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 26px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 16px;
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    font-size: 20px;
    padding-top: 4px;
  }

  @media (min-width: 1601px) and (max-width: 1800px) {
    font-size: 18px;
    padding-top: 15px;
  }
}
.dollar {
  font-family: 'LatoWebLight';
  font-weight: 400;
  color: $theme-blue;
  font-size: $ico-font;
  text-transform: uppercase;

  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) and (max-width: 1600px) {
    font-size: 20px;
  }

  @media (max-width: 1800px) and (min-width: 1601px) {
    font-size: 18px;
    padding-top: 5px;
  }
}
.bg-row {
  padding-top: 30px;
  @media (max-width: 1200px) and (min-width: 992px) {
    padding-top: 35px;
  }

  @media (min-width: 1800px) {
    padding-top: 30px;
  }

  @media (min-width: 1201px) and (max-width: 1600px) {
    padding-top: 35px;
  }

  @media (min-width: 1601) and (max-width: 1799px) {
    padding-top: 65px;
  }
}

.piptel-transaction-history {
  padding: 13px 14px;
  .header {
    h2 {
      font-size: 14px;
      font-family: 'Calibri';
    }
  }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    vertical-align: middle !important;
    border-top: none;
    font-family: 'Calibri';
    font-size: 14px;
    // color: #34519d !important;
    color: #191919;
    /*   color: #26497b; */
  }
  .table td,
  .table th {
    padding: 12px 15px;
    border: none !important;
    font-size: 14px;
    color: #191919;
    font-family: 'Calibri';
  }
}
.table-section {
  margin-top: 1rem;
  background-color: #f6f6f6;
  border-radius: 8px;
}
.table-section,
.header-whte {
  background-color: #f6f6f6;
}
.transaction-txt {
  font-size: 24px;
  text-align: center;
  font-family: 'Calibri';
  color: #191919;
  padding-bottom: 4x;
}
.custom-loader {
  text-align: center;
  svg {
    width: 100px;
  }
}
.tbl-row-head-pd,
.tbl-row-pd {
  padding: 12px 7px !important;
}
.no-data-tbl {
  font-size: 16px;
  padding: 2rem 0 !important;
  text-align: center;
}

.referrers-field {
  font-family: 'Calibri';
  font-size: 16px;
  color: #191919;
  font-weight: 600;
}
