<div class="landing-wrapper">
  <div class="d-flex flex-row justify-content-between header-section">
    <div class="logo-div cursor" (click)="gotoLanding()">
      <img src="../../../assets/img/landing-page-logo.png" />
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p class="header-text mb-5">Disclaimer And Agreement</p>
  </div>
  <div
    class="d-flex flex-column justify-content-center header-section disclaimer-section"
  >
    <p class="features-text my-2">
      PLEASE CONSULT YOUR LEGAL AND FINANCIAL ADVISORS BEFORE CONSIDERING
      PARTICIPATING IN THE TOKEN ROUND.
    </p>
    <p class="features-text my-2">
      If you decide to participate in the token round, please note that your
      payment or contribution does not represent, constitute or involve the
      exchange of cryptocurrencies for any form of securities, investment units
      and/or form of ordinary shares in the project, platform, company, or any
      other entity.
    </p>
    <p class="features-text my-2">
      The Tokens to be issued and distributed are not intended to constitute
      securities and/or collective investment units in any project, platform,
      association, company or entity of any kind.
    </p>
    <p class="features-text my-2">
      Participants do not receive any form of dividend or other revenue rights,
      nor does represent any participation in a profit-sharing scheme.
    </p>
    <p class="features-text my-2">
      The Tokens are not intended to be used as a means of payment or similar.
    </p>
    <p class="features-text my-2">
      Any functionalities of the Token, including any potential rewards,
      governance utilities, and/or similar are based on the decentralized,
      programmatic and subject-to-change, and there is no right, claim,
      guarantee or similar regarding any such functionalities.
    </p>
    <p class="features-text my-2">
      DigiMaaya MAKES NO WARRANTY OR REPRESENTATION, WHATSOEVER, WITH RESPECT TO
      THE TOKENS AND THE NATURE OF THE TOKENS, INCLUDING, BUT NOT LIMITED TO ANY
      (i) WARRANTY OF MERCHANTABILITY; (ii) WARRANTY OF FITNESS FOR A PARTICULAR
      PURPOSE; (c) WARRANTY OF TITLE; OR (iii) WARRANTY AGAINST INFRINGEMENT OF
      INTELLECTUAL PROPERTY RIGHTS OF A THIRD PARTY; WHETHER ARISING BY LAW,
      COURSE OF DEALING, COURSE OF PERFORMANCE, USAGE OF TRADE, OR OTHERWISE.
      EXCEPT AS EXPRESSLY SET FORTH HEREIN, THE PARTICIPANT ACKNOWLEDGES THAT IT
      HAS NOT RELIED UPON ANY REPRESENTATION OR WARRANTY MADE BY DigiMaaya, OR
      ANY OTHER PERSON ON THE ENTITY’S BEHALF.
    </p>
    <p class="features-text my-2"> Participant’s representations </p>
    <p class="features-text my-2">
      The Participant has been advised that the token round is not registered
      under a country’s SECURITIES LAW, and, therefore, cannot be transferable
      or resold at this stage.
    </p>
    <p class="features-text my-2">
      The Participant is participating for its own account not as a nominee or
      agent, and not with a view to, or for resale in connection with, the
      distribution thereof, and has no present intention of misrepresentation
      and selling, granting any tokens, or otherwise distributing the same.
    </p>
    <p class="features-text my-2">
      The Participant has such knowledge and experience in financial and
      business matters that the Participant is capable of evaluating the merits
      and risks of such participation, is able to incur a complete loss of such
      participation without impairing the Participant’s financial condition and
      is able to bear the economic risk of such, for an indefinite period of
      time.
    </p>
    <p class="features-text my-2">
      The Participant represents that it has satisfied itself as to the full
      observance of the laws of its jurisdiction in connection to the
      participation in the token round, including (i) the legal requirements
      within its jurisdiction (ii) any foreign exchange restrictions applicable
      to such participation (iii) any governmental or other consents that may
      need to be obtained, and (iv) the income tax and other tax consequences,
      if any, that may be relevant to the participation.
    </p>
    <p class="features-text my-2">
      The participation and holding of any tokens will not violate any
      applicable laws of the Participant’s jurisdiction.
    </p>
    <p class="features-text my-2">
      The participation and holding of any tokens will not violate any
      applicable laws of the Participant’s jurisdiction.
    </p>
    <p class="features-text my-2">
      DigiMaaya may request some personal information about the Participant now
      or in the future. The Participant consents and agrees to the release or
      disclosure of any and all of the Participant’s information to third party
      entities, and applicable Governmental Authorities and to DigiMaaya
      affiliates and/or agents for the compliance of any applicable laws or
      regulations. The Participant acknowledges that DigiMaaya and others will
      rely upon the truth and accuracy of the acknowledgments, representations
      and covenants contained herein, and agrees that if any of the
      acknowledgments, representations or agreements deemed to have been made
      are no longer accurate, it shall promptly notify DigiMaaya.
    </p>
    <p class="features-text my-2">
      The Participant understands that the participation in the token round
      involves significant risks, all of which the Participant fully and
      completely assumes, including, but not limited to, the risk that (i) the
      technology associated with the network or the tokens, will not function as
      intended; (ii) the token launch and token auction will not be completed;
      (iii) the network and the tokens will fail to attract sufficient interest
      from users; and (iv) DigiMaaya, it’s affiliates, the network or the
      tokens, may be subject to investigation and punitive actions from any
      governmental authorities. The Participant is financially sophisticated and
      has such knowledge and experience in financial and business matters, such
      that the Participant is capable of fully evaluating the merits and risks
      of participating in the token round. The Participant is fully able to bear
      such risks and agrees to bear such risks. The Participant has acquired
      sufficient information about DigiMaaya to reach an informed and
      knowledgeable decision to participate in the round. Furthermore, the
      Participant has sufficient technical understanding of cryptographic
      tokens, network protocols, smart contracts, token storage mechanisms, and
      distributed networks or distributed ledger technology in general to
      understand and to appreciate the risks and implications of participating
      in the token round.
    </p>
    <p class="features-text my-2">
      THE PARTICIPANT UNDERSTANDS AND EXPRESSLY ACCEPTS THAT THE TOKENS WILL BE
      CREATED AND DELIVERED AT THE SOLE RISK OF THE PARTICIPANT ON AN “AS IS,”
      “UNDER DEVELOPMENT” AND “AS AVAILABLE” BASIS, WITHOUT WARRANTIES OF ANY
      KIND.
    </p>
    <p class="features-text my-2">
      WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, THE PARTICIPANT ASSUMES
      ALL RISK AND LIABILITY FOR THE RESULTS OBTAINED BY THE USE OF ANY TOKENS
      AND REGARDLESS OF ANY ORAL OR WRITTEN STATEMENTS MADE BY DigiMaaya, BY WAY
      OF TECHNICAL ADVICE OR OTHERWISE, RELATED TO THE USE OF THE TOKENS.
    </p>
    <p class="features-text my-2">
      Any information related to the Token and/or the DigiMaaya is not to be
      construed as any sort of business, investment, legal, tax, or any other
      sort of advice. Any such information is of general nature, does not
      purport to contain all information a specific individual may require, and
      anyone interacting with Token and/or DigiMaaya should do their own
      research and consult with professional advisors where needed. Any such
      information is provided 'as is' and 'as available', and there are no
      representations or warranties regarding the completeness, accuracy, and or
      up-to-date accuracy of information made available. No such information is
      to be understood as any kind of solicitation, recommendation, or offer to
      purchase or obtain Token and/or to interact with DigiMaaya.
    </p>
    <p class="features-text my-2">
      THE PARTICIPANT ACKNOWLEDGES THAT THE INFORMATION PROVIDED CONSTITUTES
      SUFFICIENT INFORMATION FOR THE PARTICIPANT TO MAKE AN INFORMED DECISION
      AND THAT THE PARTICIPANT HAS MADE SUCH AN INFORMED DECISION. THE
      PARTICIPANT ACKNOWLEDGES THAT IT HAS BEEN ADVISED TO CONSULT WITH, AND HAS
      CONSULTED WITH, THE PARTICIPANT’S OWN ATTORNEY, ACCOUNTANT, TAX ADVISOR,
      AND INVESTMENT ADVISOR WITH RESPECT TO THE PARTICIPATION.
    </p>
    <p class="features-text my-2">
      The Participant understands that the Participant bears sole responsibility
      for any taxes as a result of the matters and transactions contemplated by
      the token round, any future acquisition, ownership, use, round or other
      disposition of Tokens. This includes the tax implications associated with
      any determination that the tokens do represent a security, a right to a
      security, an asset or commodity, a right to an asset or commodity, a
      utility or use right.
    </p>
    <p class="features-text my-2">
      The Participant agrees to indemnify, defend and hold DigiMaaya, or any of
      its affiliates, directors, officers, employees, contributors, advisors or
      agents (including developers, auditors, contractors or founders) harmless
      for any claim, liability, assessment or penalty, including with respect to
      any taxes associated with or arising from the Participant’s participation
      in the token launch or auction, or the use or ownership of tokens.
    </p>
    <p class="features-text my-2">
      Restrictions on Participation. The following restrictions applies to
      participation in the Round of DigiMaaya by holding the $EMYA utility
      token, in addition to any other restrictions that may apply depending on
      the respective applicable law of the Participant (for which the
      Participant bears sole responsibility):
    </p>
    <ul>
      <li>
        The $EMYA utility token described herein may not be held by, offered or
        sold to “U.S. persons” (within the meaning of Rule 902 of Regulation S
        promulgated under the Securities Act of 1933, as amended) or within the
        United States of America and may not be offered or sold, directly or
        indirectly, to U.S. persons or within the United States of America,
        unless, among other things, they are subsequently registered under
        applicable securities laws or an exemption from such registration is
        available.
      </li>
      <li>
        Further, no entity, person or body corporate, nor any affiliates or
        beneficial owners of the same, who is deemed a Prohibited Person may
        own, buy, or sell the $EMYA token described herein. For the purposes
        hereof, “Prohibited Person” means any individual, or legal entity or
        person, including a government or political subdivision or an agency or
        instrumentality thereof (each a “Person”) that is: (i) a national or
        resident of, or legal entity formed or incorporated within or subject to
        individual country laws and the Laws of any United States embargoed or
        restricted country, (ii) a national or resident of, or legal entity
        formed or incorporated within or subject to the Laws of the Republic of
        Cuba, Democratic People’s Republic of North Korea, Islamic Republic of
        Iran, Libya, People’s Republic of China, Republic of South Sudan,
        Republic of Sudan, Syrian Arab Republic or the Crimea; (iii) included
        on, or affiliated with any Person on the United States Commerce
        Department’s Denied Persons List, Entities List, or Unverified List; the
        U.S. Department of the Treasury’s Specially Designated Nationals and
        Blocked Persons List, Specially Designated Narcotics Traffickers or
        Specially Designated Terrorists, or the Annex to Executive Order No.
        13224; the Department of State’s Debarred List; or UN Sanctions; (iv) a
        Person with whom business transactions, including exports and
        re-exports, are restricted by a United States Governmental Authority,
        including, each item listed in the foregoing clauses (i), (ii), (iii)
        and (iv) and any updates or revisions thereto and any newly published
        rules therefore; or (v) a subject or target of any other economic
        sanctions administered or enforced by Switzerland, the United Nations,
        the European Union, or the United Kingdom.
      </li>
    </ul>
  </div>
</div>
