@import '../../../_variables';

.wire-table {
  table-layout: fixed;
  @media (max-width: 768px) {
    table-layout: auto;
  }

  .first {
    th {
      text-transform: uppercase;
      color: $theme-blue;
      font-family: 'LatoWeb';
      font-size: 14px;
      font-weight: 600;
      padding: 20px 50px 20px 50px;
      vertical-align: middle;
      border: none;
    }
  }
  tr {
    td {
      text-transform: uppercase;
      color: $theme-blue;
      font-family: 'LatoWebLight';
      font-size: 14px;
      font-weight: 300;
      padding: 20px 50px 20px 50px;
      border: none;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}

.sorter-turned {
  margin-top: -7px;
  margin-left: 5px;
  width: 10px;
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
  width: 230px;
}

.sorter {
  margin-top: -7px;
  margin-left: 5px;
  width: 10px;
}

.no-visibility-2 {
  visibility: hidden;
  margin: 0;
}

.status-down {
  margin-left: 10px;
  color: #319fd7;
  font-size: 12px;
}

.eye-image {
  border: none;
  background: transparent;
  cursor: pointer;
}

.wire-table > tbody > tr:nth-child(2n + 1) > td,
.wire-table > tbody > tr:nth-child(2n + 1) > th {
  background-color: white;
}

.wire-table > tbody > tr:nth-child(even) > td,
.wire-table > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}

.status {
  margin: 0;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    top: 5px;
  }
}

.submitted {
  &::before {
    background-color: #f5a623;
  }
}

.accepted {
  &::before {
    background-color: #45cdb2;
  }
}

.rejected {
  &::before {
    background-color: red;
  }
}

#image-modal {
  .modal-content {
    padding: 0;

    @media (max-width: 640px) {
      padding: 0;
    }

    .close-modal {
      cursor: pointer;
      position: absolute;
      top: -15px;
      right: -15px;
      background: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding-top: 1px;
      text-align: center;

      img {
        width: 15px;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    border-radius: 0;
    .modal-body {
      text-align: center;
      padding: 20px;
      position: relative;

      .receiptImg {
        max-width: 100%;
      }
    }
  }
}

.instructions {
  color: #818182;
  .instructions-heading {
    font-size: 20px;
  }
  .instructions-text {
    font-size: 12px;
  }
}

.list-group-item-light {
  background-color: unset;
  font-size: 12px;
}
