
.login-loader .cssload-thecube{
  width:32px !important;
  height:32px !important;
}
// .pp{
//   color: purple;
//   font-size: 100px;
//   letter-spacing: 15px;
// }

.bg-wrapper{
  background-image: url(../../../assets/img/Pattern2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.logo-top{
  margin-top: 9rem;
  .pptl-logo{
    width: 270px;
  }
}

.piptle-inputs{
  font-family: "LatoWebLight";
  border: 2px solid #643E8D;
  border-radius: 24px;
  background-color: #fff !important;
  text-align: center;
  height: 37px;
  font-size: 16px;
  width: 100%;
  font-weight: 500;
  padding: 0px 10px;
}

.piptle-submit{
    height: 37px;
    border-radius: 24px;
    color: white;
    font-family: "LatoWebBold";
    font-size: 20px;
    background:  #643E8D;
    width: 100%;
    border: none;
    text-transform: uppercase;
    // background-image: linear-gradient(-179deg,rgba(74,148,214,.4) 45%,rgba(255,255,255,.08) 15%),linear-gradient(258deg,rgba(87,238,255,.1),rgba(77,108,211,.2));
    // background-image: linear-gradient(-179deg,rgba(74,148,214,.4) 27%,#643E8D 53%),linear-gradient(258deg,rgba(87,238,255,.1),rgba(77,108,211,.2));

}