<div class="faqs-section-top">
  <h1 class="page-title change-btm text-center">FAQ'S</h1>
  <p class="aff-p1"></p>
  <div class="row">
    <div class="col-lg-12">
      <div class="height-div">
        <div class="white-back2">
          <div class="clear"></div>
          <div></div>
        </div>
        <div class="d-flex flex-lg-row flex-column justify-content-between">
          <div class="faq-section mr-3">
            <div class="d-flex flex-column">
              <div class="header-side-border">
                <h1 class="border-heading">
                  {{ 'ABOUT DIGIMAAYA' | translate }}
                </h1>
              </div>

              <div class="faq-main-2">
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        {{ 'What is DigiMaaya?' | translate }}
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p class="m-0">
                    {{ 'DigiMaaya is a Digital Asset Exchange' | translate }}
                  </p>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        {{ 'Why trust DigiMaaya?' | translate }}
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel list-padding">
                  <div class="bor-orng"></div>
                  <ul>
                    <li>
                      <strong>{{ 'Trusted Leadership' | translate }}</strong>
                      {{ 'Trusted Leadership Content' | translate }}
                    </li>
                    <li>
                      <strong>{{ 'Secure & Compliant' | translate }}</strong>
                      {{ 'Secure & Compliant Content' | translate }}
                    </li>
                    <li>
                      <strong>{{
                        'Comprehensive Services' | translate
                      }}</strong>
                      {{ 'Comprehensive Services Content' | translate }}
                    </li>
                    <li>
                      <strong>{{ 'User-Friendly Support' | translate }}</strong>
                      {{ 'User-Friendly Support Content' | translate }}
                    </li>
                  </ul>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        {{ 'Why should I buy $EMYA Token' | translate }}
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    $EMYA Token provides early access to DigiMaaya’s expanding
                    financial ecosystem, positioning investors for growth as we
                    scale across global markets like the <b>EU</b>,<b> UAE</b>,
                    and <b>India</b>
                  </p>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        {{ 'No Refund Policy' | translate }}
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    There is no Refund for Investors once an investment is made.
                    Each person is liable to check the associated wallet
                    addresses and amount, prior to making a Purchase of Token.
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <div class="header-side-border">
                <h1 class="border-heading">
                  {{ 'Seed Round Details' | translate }}
                </h1>
              </div>

              <div class="faq-main-2">
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        {{
                          'What is the minimum investment required?' | translate
                        }}
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    The minimum investment amount for the $EMYA Seed Round is
                    <b>50 USDT</b>.
                  </p>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        What is the price of $EMYA during the Seed Round?
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    The price of $EMYA in the seed round is set at
                    <b>$0.016</b>, representing a <b>71% discount</b> compared
                    to the TGE price of <b> $0.055</b>.
                  </p>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points"
                        >What are there incentives for early participation?</p
                      >
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    The seed round offers participants an exclusive
                    <b>71% discount</b> on the token price compared to the TGE
                    price
                  </p>
                </div>
                <!-- <button class="accordion grey-bg arrow-points-wrap">
                              <div class=" ">

                                  <div class="faq-points-div">
                                      <p class="faq-points">{{'What is affiliate ranking system?'| translate}}</p>
                                  </div>
                                  <div class="arrow-faq-div">
                                      <i class="fas fa-plus"></i>
                                  </div>
                              </div>
                          </button>
                          <div class="panel">
                              <div class="bor-orng"></div>
                              <p>
                                  {{'In order to purchase, you can send you can send you can send .' | translate}}
                              </p>
                          </div> -->
                <!-- <button class="accordion grey-bg arrow-points-wrap">
                              <div class=" ">

                                  <div class="faq-points-div">
                                      <p class="faq-points">{{'What are the payments option?' | translate}}</p>
                                  </div>
                                  <div class="arrow-faq-div">
                                      <i class="fas fa-plus"></i>
                                  </div>
                              </div>
                          </button>
                          <div class="panel">
                              <div class="bor-orng"></div>
                              <p>
                                  {{'Depending on the type of commission you can choose among cash, crypto, token or revenue share.'| translate}}
                              </p>
                          </div> -->
              </div>
              <div class="d-flex flex-column">
                <div class="header-side-border">
                  <h1 class="border-heading"> Tokenomics & Vesting Details </h1>
                </div>

                <div class="faq-main-2">
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          What is the total allocation for the $EMYA Seed Round?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      The seed round allocates <b>32 million $EMYA tokens</b>,
                      which represents <b>3.2% of the total supply</b> of 1
                      billion tokens.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          How much is unlocked at the Token Generation Event
                          (TGE)?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      At the TGE, <b>5% of the seed round allocation</b> will be
                      unlocked, equivalent to
                      <b>0.16% of the total token supply</b>.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          What is the cliff period for $EMYA tokens?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      There is a <b>3-month cliff period</b>, during which no
                      tokens will be unlocked.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          What is the vesting schedule for $EMYA tokens?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      After the 3-month cliff period, the remaining tokens will
                      be released daily over <b>14 months</b>, completing the
                      total vesting period of <b>17 months</b> (including the
                      cliff).
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="header-side-border">
                  <h1 class="border-heading"> Participation & Payment </h1>
                </div>

                <div class="faq-main-2">
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          Who can participate in the $EMYA Seed Round?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      The seed round is open to accredited investors,
                      whitelisted users, and other eligible individuals who meet
                      the project’s requirements.
                    </p>
                  </div>

                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points"> Is KYC required? </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      Yes, KYC (Know Your Customer) is required depending on the
                      laws and regulations of your country. Participants are
                      required to submit KYC if applicable in their
                      jurisdiction. You can submit your KYC documents to
                      <b>info&#64;digimaaya.com</b> for verification.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          What payment methods are accepted?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel list-padding">
                    <div class="bor-orng"></div>
                    <p>
                      The following payment methods are available for the $EMYA
                      Seed Round:
                    </p>
                    <ul>
                      <li class="disc-style"> <b>BTC</b> (coming soon) </li>
                      <li class="disc-style">
                        <b>ETH</b>
                      </li>
                      <li class="disc-style"> <b>SOL</b> (coming soon) </li>
                      <li class="disc-style">
                        <b>USDC</b>
                      </li>
                      <li class="disc-style"> <b>TON</b> (coming soon) </li>
                      <li class="disc-style">
                        <b>USDT(TRC20)</b> (coming soon)
                      </li>
                      <li class="disc-style">
                        <b>USDT(ETH20)</b>
                      </li>
                      <li class="disc-style">
                        <b>BNB</b>
                      </li>
                    </ul>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          Can I send payments from an exchange wallet?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      You can send payments from any blockchain digital wallet
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          Can I request a refund after purchasing $EMYA tokens?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p> No, all purchases are final and non-refundable. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-section">
            <div class="d-flex flex-column">
              <div class="header-side-border">
                <h1 class="border-heading"> Link Program </h1>
              </div>

              <div class="faq-main-2">
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        How does the LINK program work?
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    Participants can share their unique Code or URL to invite
                    others to participate in the <b>$EMYA</b> Seed Round. When
                    someone invests using your Code, you earn a
                    <b>Scout fee </b> in <b>USDT</b> based on their purchase
                    amount.
                  </p>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points"
                        >What are the Scouting Fees for the LINK program?
                      </p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel list-padding">
                  <div class="bor-orng"></div>
                  <p> The commission structure is as follows: </p>
                  <ul>
                    <li class="disc-style"> 5% for your Tier 1 </li>
                    <li class="disc-style"> 3% for your Tier 2 </li>
                    <li class="disc-style"> 2% for your Tier 3 </li>
                  </ul>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points">
                        How will the Scout Fees be paid?</p
                      >
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    All Scouting Fees earned through the LINK program will be
                    sent in <b>USDT</b> directly to your wallet in 24 hours of
                    Token purchase confirmation.
                  </p>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points"> How do I use my URL?</p>
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    You can find your LINK URL on your LINK Tab. Share this URL
                    with your Community via social media, email, or direct
                    messages to start earning Scout Fees.
                  </p>
                </div>
                <button class="accordion grey-bg arrow-points-wrap">
                  <div class=" ">
                    <div class="faq-points-div">
                      <p class="faq-points"
                        >Where can I track my Scouting Fees?</p
                      >
                    </div>
                    <div class="arrow-faq-div">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </button>
                <div class="panel">
                  <div class="bor-orng"></div>
                  <p>
                    Your Scouting fees will be displayed in your LINK tab, along
                    with details of the LINKed participants.
                  </p>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="header-side-border">
                  <h1 class="border-heading">Token Purchase & Distribution </h1>
                </div>

                <div class="faq-main-2">
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          How can I purchase $EMYA tokens?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      You can purchase $EMYA tokens during the Private rounds
                      from this Website, using your Digital Wallets. We accept
                      top Digital Currencies.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          How do I claim my $EMYA tokens?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      Tokens will be minted and distributed to participants’
                      wallets according to the vesting schedule via smart
                      contract. Ensure you provide a compatible wallet address
                      when requested.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          How long will it take to receive my tokens?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      The initial <b>5%</b> will be unlocked at TGE, with the
                      rest distributed daily over <b>14 months</b> after the
                      <b>3-month</b> cliff period for Seed round.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          What happens to unsold tokens?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      Unsold tokens will be returned to the
                      <b>equity pool</b> for future use.
                    </p>
                  </div>
                  <button class="accordion grey-bg arrow-points-wrap">
                    <div class=" ">
                      <div class="faq-points-div">
                        <p class="faq-points">
                          Will I even earn a staking reward during this cliff
                          period ?
                        </p>
                      </div>
                      <div class="arrow-faq-div">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </button>
                  <div class="panel">
                    <div class="bor-orng"></div>
                    <p>
                      Yes, we offer a 10% annual percentage yield (APY) on
                      staked tokens, even during the cliff period. Your reward
                      will accumulate seamlessly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whitepaper-info-deck-section">
    <a
      href="https://drive.google.com/file/d/1vBovksLLGv_VF3W-9IvF1usc2Jy_ohK-/view"
      target="_blank"
      rel="noreferrer"
      class="link"
    >
      Whitepaper
    </a>
    <a
      href="https://drive.google.com/file/d/1RSUE358jxcIJn3tVjwxsP010zbZPrMy_/view"
      target="_blank"
      rel="noreferrer"
      class="link"
    >
      Info Deck
    </a>
  </div>
</div>
