<h1 class="page-title change-btm">FAQ'S</h1>
<p class="aff-p1">
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="height-div">
            <div class="white-back2">

                <div class="clear"></div>
                <div>

                </div>




            </div>


            <div class="row">


                <div class="col-lg-6">



                    <div class="header-side-border">
                        <h1 class="text-uppercase border-heading">{{ 'GENERAL INFORMATION' | translate}}</h1>
                    </div>


                    <div class="faq-main-2">




                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'How to qualify for our ICO?'|translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>

                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'Make sure to upload all your documents in order to pass the KYC Procedure. Once approved you are good to go and can participate in our ICO' | translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'What is being sold at our ICO?' | translate }}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'FRUCOIN, a utility token and is being offered to Fruture Users and early adopters'| translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'Is it Safe to invest in your ICO?'|translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'We are working together with a financial Institution in order to ensure your safety and apply the highest security standards for your transactions'| translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'How many Frucoin are being sold?'| translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'The total amount of Tokens sold in our ICO are 104,040,000'| translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'What is the Frucoin Structure and Pricing?'| translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'Total Supply: 10,000,000,000, Softcap: $30M MXN Hardcap: $1,770M MXN'| translate}}
                            </p>
                        </div>
                    </div>

                </div>


                <div class="col-lg-6">



                    <div class="header-side-border">
                            <h1 class="text-uppercase border-heading">{{'Balance and Transactions'| translate}}</h1>
                    </div>


                    <div class="faq-main-2">




                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'What will happen to unsold FruCoin Tokens?'| translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>

                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'They will be burned'| translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'Where can I see my Balance?'| translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'You can go the left and click on Dashboard in order to see your Balance' | translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'How do I claim the Frucoin that I have purchased in the Sale?'| translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'All Frucoin Sale participants will have to sign up and complete a KYC. Once done you will see your Tokens in your Wallet'| translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'How long does it take until I get my Coin?'| translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'You will be able to see your Coin immediately after your purchase'| translate}}
                            </p>
                        </div>
                        <button class="accordion grey-bg arrow-points-wrap">
                            <div class=" ">

                                <div class="faq-points-div">
                                    <p class="faq-points">{{'Are there any Bonus incentives being offered in the ICO?' | translate}}</p>
                                </div>
                                <div class="arrow-faq-div">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </button>
                        <div class="panel">
                            <div class="bor-orng"></div>
                            <p>
                                {{'Yes. Please have a look at the ICO Information Tab in order to find out more' | translate}}
                            </p>
                        </div>
                    </div>

                </div>

            </div>















            <div class="row">


                    <div class="col-lg-6">



                        <div class="header-side-border">
                            <h1 class="text-uppercase border-heading">{{'Coin purchase'| translate}}</h1>
                        </div>


                        <div class="faq-main-2">




                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'Can I request a refund once I purchased the Coin?'| translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>

                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'The purchase of the Frucoin during the ICO is definitive. There are no refunds or cancellations except as may be required by applicable law or regulation.' | translate}}
                                    {{'If you choose to send payments for the Frucoin,' | translate}}
                                    {{'you as the Buyer acknowledge that none of the organization parties are required to provide a refund for any reason and that you as the Buyer will not receive money or other compensation in lieu of a refund' | translate}}
                                </p>
                            </div>
                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'Is there a KYC Procedure?' | translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'Since we are working closely with financiall institutions and according to Mexican Law we will have a strict KYC Procedure in order to ensure safety and security for all our clients.' | translate}}
                                </p>
                            </div>
                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'Can I send payments from any Exchange?'| translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                {{'As long as your Exchange offers the Cryptocurrencies that are supported in our ICO, you can use your preferred Exchange.' | translate}}
                                </p>
                            </div>
                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'Can I earn Free Tokens?'| translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'Follow us on Social Media. There, you will always have the chance to get FREE Coins' | translate}}
                                </p>
                                <p>
                                    <a href="https://www.facebook.com/piptle/" class="icon-borders fb-pd mr-2" target="_blank">
                                        <img src="../../../assets/img//PIPTLE-Facebook-F-Icon.png" alt="fb-icon" class="icon-img">
                                    </a>                                 

                                    <a href="https://twitter.com/piptleit" class="icon-borders mr-2" target="_blank">
                                          <img src="../../../assets//img//PIPTLE-TwitterIcon.png" alt="twitter-icon" class="icon-img">
                                      </a>

                                      <a href="https://www.instagram.com/piptleit/" target="_blank" class="icon-borders mr-2">
                                          <img src="../../../assets//img//PIPTLE-InstagramIcon.png" alt="instagram-icon" class="icon-img">
                                      </a>

                                      <a href="https://t.me/piptler" target="_blank" class="icon-borders mr-1">
                                          <img src="../../../assets//img//telegram icon.png" alt="telegram-icon" class="icon-telegram">
                                      </a>
                              </p>
                            </div>
                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'Is it True that with Fruture ICO will recive future rewards?'| translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'Once you are participating in our ICO and purchase Frucoin. You will automatically become a member of the Fruture Cooperative, this give you the possibility to get a reward for growing sustainably. For more Information please read our Whitepaper' | translate}}
                                </p>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-6">



                        <div class="header-side-border">
                                <h1 class="text-uppercase border-heading">{{'Payment options' | translate}}</h1>
                        </div>


                        <div class="faq-main-2">




                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'What payment options do I have?' | translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>

                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'Once you are KYC approved you can use Cryptocurrencies and Wire Transfer to purchase Frucoin'| translate}}
                                </p>
                            </div>
                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'Can I use other Tokens to purchase Fru Coins?'| translate}} </p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'You can use a variety of Cryptocurrencies (see Dashboard) but not Coins'| translate}}
                                </p>
                            </div>
                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'How big are the rewards?'| translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'Every user will earn 2% of the investment of their referrals using their code'| translate}}
                                </p>
                            </div>
                            <!-- <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'WHAT IS REFERAL RANKING SYSTEM?' | translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'In order to purchase, you can send you can send you can send .'| translate}}
                                </p>
                            </div> -->
                            <button class="accordion grey-bg arrow-points-wrap">
                                <div class=" ">

                                    <div class="faq-points-div">
                                        <p class="faq-points">{{'What payment options do I have?'| translate}}</p>
                                    </div>
                                    <div class="arrow-faq-div">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="panel">
                                <div class="bor-orng"></div>
                                <p>
                                    {{'Once you are KYC approved you can use Cryptocurrencies and Wire Transfer to purchase Frucoin'| translate}}
                                </p>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="row">


                    <div class="col-lg-6">

                            <div class="header-side-border">
                                    <h1 class="text-uppercase border-heading">{{'Affiliates'| translate}}</h1>
                            </div>

                            <div class="faq-main-2">


                                    <button class="accordion grey-bg arrow-points-wrap">
                                        <div class=" ">

                                            <div class="faq-points-div">
                                                <p class="faq-points">{{'How do I use my Referral link?' | translate}}</p>
                                            </div>
                                            <div class="arrow-faq-div">
                                                <i class="fas fa-plus"></i>

                                            </div>
                                        </div>
                                    </button>
                                    <div class="panel">
                                        <div class="bor-orng"></div>
                                        <p>
                                            {{'You will see a link which you can copy and use for all your online marketing activities' | translate}}
                                        </p>
                                    </div>
                                    <button class="accordion grey-bg arrow-points-wrap">
                                        <div class=" ">

                                            <div class="faq-points-div">
                                                <p class="faq-points">{{'How does the Referral link work?' | translate}}</p>
                                            </div>
                                            <div class="arrow-faq-div">
                                                <i class="fas fa-plus"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="panel">
                                        <div class="bor-orng"></div>
                                        <p>
                                            {{'Pretty much like all other affiliate links. Once you use it for your referrals you will see it in your back office' | translate}}
                                        </p>
                                    </div>
                                    <!-- <button class="accordion grey-bg arrow-points-wrap">
                                        <div class=" ">

                                            <div class="faq-points-div">
                                                <p class="faq-points">{{'How big are the rewards?'| translate}}</p>
                                            </div>
                                            <div class="arrow-faq-div">
                                                <i class="fas fa-plus"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="panel">
                                        <div class="bor-orng"></div>
                                        <p>
                                            {{'The amount you earn depends on which type of affiliate commission you choose.'| translate}}
                                        </p>
                                    </div> -->
                                    <!-- <button class="accordion grey-bg arrow-points-wrap">
                                        <div class=" ">

                                            <div class="faq-points-div">
                                                <p class="faq-points">{{'What is affiliate ranking system?'| translate}}</p>
                                            </div>
                                            <div class="arrow-faq-div">
                                                <i class="fas fa-plus"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="panel">
                                        <div class="bor-orng"></div>
                                        <p>
                                            {{'In order to purchase, you can send you can send you can send .' | translate}}
                                        </p>
                                    </div> -->
                                    <!-- <button class="accordion grey-bg arrow-points-wrap">
                                        <div class=" ">

                                            <div class="faq-points-div">
                                                <p class="faq-points">{{'What are the payments option?' | translate}}</p>
                                            </div>
                                            <div class="arrow-faq-div">
                                                <i class="fas fa-plus"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="panel">
                                        <div class="bor-orng"></div>
                                        <p>
                                            {{'Depending on the type of commission you can choose among cash, crypto, token or revenue share.'| translate}}
                                        </p>
                                    </div> -->
                                </div>
                    </div>


                </div>


        </div>


    </div>
</div>
