$light-pulper-color: #997bb5;
$nav-button-color: #00838f;
$white-color: #fff;
$black-color: black;
$title-color: #26497b;
$lightblue-color: #b3e5ff;
$grey-color: #ececec;
$turquiose: #57dfee;
$table-td-tx: #2097d4;

$theme-blue: #34519d;
$theme-green: #95d358;
$theme-orange: #cf5d29;
$title-family: "LatoWeb";
$title-size: 16px;
$title-case: uppercase;
$title-margin: 0 0 0 20px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-15: 15px;
$pad-left-15: 15px;
$m-top-30: 30px;
$m-left-30: 30px;
$m-top-15: 15px;
$m-top-20: 20px;
$no-padding: 0;
$label-color: #2097d4;
$diff-turquise: #53d4ff;
$table-td-tx: #2097d4;
$dashboard-purple-clr: #643e8d;

$maaya-orange-dawn: #ff7f2c;
$maaya-purple-dusk: #ff0082;
$maaya-light-grey: #404040;
$maaya-dark-grey: #191919;
